.btn {
    position: relative;
    text-transform: uppercase;
    line-height: 0;
    font-weight: 600;
    letter-spacing: 2px;
    font-size: px2rem(13);
    padding: 24px 45px;
}

.btn,
.btn.lg {
    padding: 24px 45px;
}

.btn.btn-sm {
    font-size: px2rem(11);
    padding: 19px 38px;
}

.btn.btn-xs {
    font-size: px2rem(11);
    letter-spacing: 1.5px;
    padding: 16px 32px;
}

.btn-secondary {
    color: $linkstream-40;
    border-color: $secondary;
    &:hover {
        border-color: $secondary;
    }
    &:hover,
    &:focus,
    &:active {
        color: $linkstream-40 !important;
    }
}

.btn-tertiary {
    @extend .btn-black;
    &:hover,
    &:focus,
    &:active {
        background-color: $gray-900;
    }
}

.btn-preview-pill {
    font-size: px2rem(11);
    letter-spacing: 0;
    line-height: 23px;
    padding: 0 12px;
    background-color: $white;
    color: $black;
    text-transform: none;
    font-weight: normal;
    box-sizing: border-box;
    border: 1px solid $linkstream-90;
    border-radius: 13.5px;
    &:hover {
        background-color: $linkstream-80;
    }
    &:focus {
        outline: none;
        box-shadow: none;
    }
}

.btn-transparent {
    background: none;
    border: none;
}

.btn-icon {
    padding: 0;
    border: 0;
    margin: 0;
    line-height: 0;
    &.--bg-img:before {
        @extend .ls-i:before;
    }
    &:focus {
        outline: 0;
        box-shadow: none;
    }

    &:active {
        transform: scale(0.9);
    }
}

.btn-link {
    text-transform: none;
    font-weight: normal;
    letter-spacing: 0;
    text-decoration: underline;
    padding: 0;
    margin: 0;
    line-height: normal;
    &:hover {
        color: $linkstream-60;
    }
}

.btn-text {
    @extend .btn-link;
    color: $black;
    text-decoration: none;
    &:hover,
    &:focus {
        text-decoration: none;
        color: $black;
    }
}

.btn-iconic-outline {
    border: 1px solid $linkstream-90;
    border-radius: 6px !important;
    background-color: $white;
    padding: 0;
    line-height: 0;
    min-height: 42px;
    min-width: 42px;
    outline: 0;
    &:active {
        background-color: $secondary;
    }
    &:focus {
        outline: none;
        box-shadow: none;
    }
}

.dropdown-item:hover,
.dropdown-item:focus {
    color: $white;
    background-color: $primary;
}
