.btn-transparent {
    background: none;
    border: none;
}

.btn-action {
    font-weight: $font-weight-semi-bold;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.btn-icon {
    padding: 0;
    border: 0;
    font-size: 0;
}

.btn-icon:focus {
    outline: none;
    box-shadow: none;
}

.btn-icon:hover {
    transform: scale(1.08);
}

.btn-black {
    color: $white;
    background-color: $black;
    border-color: $black;
}

.btn-black:hover {
    color: $white;
    background-color: $gray-900;
    border-color: $gray-900;
}
