.btn {
    position: relative;
    text-transform: uppercase;
    line-height: normal;
    font-weight: 600;
    letter-spacing: 2px;
    font-size: px2rem(13);
}

.btn,
.btn.lg {
    padding: 16px 45px;
}

.btn.btn-md {
    font-size: px2rem(11);
    padding: 12px 38px;
}

.btn.btn-sm {
    font-size: px2rem(11);
    letter-spacing: 1.5px;
    padding: 9px 32px;
    &.btn-outline-light {
        font-size: px2rem(12);
        letter-spacing: 0;
        padding: 9px 17px;
    }
}

.btn.btn-xs {
    font-size: px2rem(11);
    padding: 5px 12px;
}

.btn-secondary {
    color: $linkstream-40;
    border-color: $secondary;
    &:hover {
        border-color: $secondary;
    }
    &:hover,
    &:focus,
    &:active {
        color: $linkstream-40 !important;
    }
}

.btn-tertiary {
    @extend .btn-black;
    &:hover,
    &:focus,
    &:active {
        background-color: $gray-900;
    }
}

.btn-outline-light {
    border: 1px solid $linkstream-90;
    background-color: $white;
    color: $black;
    text-transform: none;
    font-weight: normal;
    letter-spacing: 0;
    &:active,
    &:hover {
        background-color: $linkstream-80 !important;
    }
}

.btn-transparent {
    background: none;
    border: none;
}

.btn-icon {
    padding: 0;
    border: 0;
    margin: 0;
    line-height: 0;
    &:focus {
        outline: 0;
        box-shadow: none;
    }
    &:active {
        transform: scale(0.9);
    }
}

.btn-icon-bg {
    @extend .btn-icon;
    @extend .ico;
    &:before {
        @extend .ico:before;
    }
}

.btn-link {
    text-transform: none;
    font-weight: normal;
    letter-spacing: 0;
    text-decoration: underline;
    padding: 0;
    margin: 0;
    &:hover {
        color: $linkstream-60;
    }
}

.btn-text {
    @extend .btn-link;
    color: $black;
    text-decoration: none;
    &:hover,
    &:focus {
        text-decoration: none;
        color: $black;
    }
}

.dropdown-item:hover,
.dropdown-item:focus {
    color: $white;
    background-color: $primary;
}

.LsToggleButton {
    margin-bottom: 0;
    &.toggled {
        .v-switch-core {
            background-color: $linkstream-150 !important;
        }
    }
    .v-switch-core {
        background-color: $linkstream-120 !important;
    }
}

.LsToggleButtonGroup {
    .btn {
        padding: 17px 15px;
        font-size: px2rem(13);
        text-transform: none;
        border-radius: 4px 0 0 4px;
        font-weight: 500;
        letter-spacing: 0;
        &.active {
            box-shadow: inset 1px 2px 3px 0 rgba(0, 0, 0, 0.5);
        }
        &:first-child {
            border-radius: 4px 0 0 4px;
        }
        &:last-child {
            border-radius: 0 4px 4px 0;
        }
    }
}
