.form-control {
    &:focus {
        box-shadow: none !important;
    }
}

.form-group {
    label,
    .col-form-label {
        color: $black;
        line-height: 24px;
    }
    .invalid-feedback {
        font-size: px2rem(12);
        color: $linkstream-120;
        font-weight: 600;
        margin-top: 5px;
    }
}

.custom-checkbox {
    .custom-control-label {
        padding-left: 6px;
        color: $black;
        line-height: 1.9;
        &:before {
            width: 18px;
            height: 18px;
        }
        &:after {
            top: 6px;
            left: -20px;
            background: no-repeat 75% / 75% 75%;
        }
    }
}

.custom-radio {
    .custom-control-label {
        line-height: 2;
        padding-left: 5px;
    }

    .custom-control-label:before,
    .custom-control-label:after {
        width: 18px;
        height: 18px;
    }

    .custom-control-label:before {
        border: 2px solid $linkstream-30;
    }

    .custom-control-input:checked ~ .custom-control-label:before {
        background-color: $white;
        border-color: $primary;
    }

    .custom-control-label:after {
        background-position: 2px;
        background-size: 14px;
    }
}

.ls-select {
    cursor: pointer;

    .ls-select-icon {
        position: relative;
        top: 1px;
        right: 0px;
    }

    .vs__dropdown-toggle {
        cursor: default;
        height: $input-height;
        border-radius: $input-border-radius;
        border: 1px solid $input-border-color;
        padding: $input-btn-padding-y $input-btn-padding-x;
    }

    .vs__selected,
    .vs__search {
        line-height: 1.9;
        margin-top: 0;
        margin-left: 0;
        padding-left: 0;
    }

    .vs__selected-options {
        padding: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .vs__actions {
        padding: 0 !important;
    }

    .vs__dropdown-menu {
        border-radius: initial !important;
        box-shadow: initial !important;
        max-height: 250px;
    }

    .vs__clear {
        display: none;
    }

    .vs__dropdown-option {
        padding: 8px 12px !important;
    }

    .vs__dropdown-option--highlight {
        color: $white !important;
        background: rgba($linkstream-1, 0.9) !important;
    }

    .vs__no-options {
        padding: 5px !important;
    }

    &.is-invalid {
        .vs__dropdown-toggle {
            border-color: $form-feedback-invalid-color;
        }

        .vs__dropdown-menu {
            border-top: 1px solid $form-feedback-invalid-color;
        }
    }
}

.ls-timepicker {
    .ls-select-icon {
        top: 0px;
        left: 1px;
    }
}

.ls-datepicker {
    .vc-bg-blue-600,
    .vc-day-content:active,
    .vc-day-content:hover,
    .vc-day-content:focus {
        color: $white;
        background: rgba($linkstream-1, 0.9) !important;
    }

    .ls-datepicker-input {
        cursor: default;
        background-color: $white;
        background-image: url(~@/../public/static/ico/select-date.svg);
        background-repeat: no-repeat;
        background-position: 96% center;
        &::placeholder {
            color: $input-color;
        }
    }

    &.is-invalid {
        .ls-datepicker-input {
            border-color: $form-feedback-invalid-color;
        }
    }
}

.input-group-datetime {
    .ls-timepicker,
    .ls-datepicker {
        width: 50%;
    }

    .ls-datepicker-input {
        border-right-width: 0px;
    }
}
