.form-control {
    border-color: $input-border-color !important;
    &.is-valid {
        border-color: $input-border-color !important;
    }
    &.is-invalid {
        border-color: $danger !important;
    }
    &:focus {
        box-shadow: none !important;
    }
}

.form-group {
    label {
        color: $black;
        letter-spacing: px2rem(0.11);
        line-height: px2rem(24);
    }

    .invalid-feedback {
        font-size: px2rem(12);
        color: $linkstream-120;
        font-weight: 600;
        margin-top: 5px;
    }
}

.custom-radio {
    .custom-control-label {
        line-height: 2;
        padding-left: 5px;
    }

    .custom-control-label::before,
    .custom-control-label::after {
        width: 18px;
        height: 18px;
    }

    .custom-control-label::before {
        border: 2px solid $linkstream-30;
    }

    .custom-control-input:checked ~ .custom-control-label::before {
        background-color: $white;
        border-color: $primary;
    }

    .custom-control-label::after {
        background-position: 2px;
        background-size: 14px;
    }
}

.ls-datepicker {
    .vc-bg-blue-600,
    .vc-day-content:active,
    .vc-day-content:hover,
    .vc-day-content:focus {
        color: $white;
        background: rgba($linkstream-10, 0.9) !important;
    }

    .ls-datepicker__input {
        cursor: default;
        background-color: $white;
        background-image: url(~@/../public/static/ico/select-date.svg);
        background-repeat: no-repeat;
        background-position: 93% center;
        &::placeholder {
            color: $input-color;
        }
    }
}

.ls-select {
    cursor: pointer;

    .ls-select__icon {
        position: relative;
        top: 4px;
        right: 1px;
    }

    &.is-time {
        .ls-select__icon {
            top: 5px;
            left: 3px;
        }
    }

    .vs__actions {
        padding: 10px 10px 10px 5px !important;
    }

    .vs__dropdown-toggle {
        cursor: default;
        height: $input-height;
        border-radius: $input-border-radius;
        border: 1px solid $input-border-color;
    }

    &.is-invalid .vs__dropdown-toggle {
        border: 1px solid $danger;
    }

    .vs__clear {
        display: none;
    }

    .vs__dropdown-menu {
        border-radius: initial !important;
        box-shadow: initial !important;
        max-height: 250px;
    }

    &.is-invalid .vs__dropdown-menu {
        border-top: 1px solid $danger;
    }

    .vs__dropdown-option {
        padding: 8px 12px !important;
    }

    .vs__dropdown-option--highlight {
        color: $white !important;
        background: rgba($linkstream-10, 0.9) !important;
    }

    .vs__no-options {
        padding: 5px !important;
    }
}
