.LsIcon {
    display: inline-block;
    line-height: 0;
}

.LsIcon:before {
    content: '';
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
}

.LsIcon-drag:before {
    background-image: url(~@/../public/static/ico/drag.svg);
    width: 18px;
    height: 14px;
}

.LsIcon-eye-cir-gray:before {
    background-image: url(~@/../public/static/ico/eye-cir-gray.svg);
    width: 35px;
    height: 35px;
}

.LsIcon-eye-slash-cir-gray:before {
    background-image: url(~@/../public/static/ico/eye-slash-cir-gray.svg);
    width: 35px;
    height: 35px;
}

.LsIcon-back:before {
    background-image: url(~@/../public/static/ico/back.svg);
    width: 17px;
    height: 17px;
}

.LsIcon-select-arrow:before {
    background-image: url(~@/../public/static/ico/select-arrow.svg);
    width: 15px;
    height: 15px;
}

.LsIcon-timepicker:before {
    background-image: url(~@/../public/static/ico/timepicker.svg);
    width: 19px;
    height: 19px;
}

.LsIcon-dropimg-remove:before {
    background-image: url(~@/../public/static/ico/drop-image/remove.svg);
    width: 32px;
    height: 31px;
}

.LsIcon-dropimg-cam:before {
    background-image: url(~@/../public/static/ico/drop-image/cam.svg);
    width: 21px;
    height: 19px;
}

.LsIcon-close:before {
    background-image: url(~@/../public/static/ico/close.svg);
    width: 13px;
    height: 13px;
}

.LsIcon-close-lg:before {
    background-image: url(~@/../public/static/ico/close-lg.svg);
    width: 16px;
    height: 16px;
}

.LsIcon-trash-sm:before {
    background-image: url(~@/../public/static/ico/trash-sm.svg);
    width: 35px;
    height: 35px;
}

.LsIcon-clock-cir-gray:before {
    background-image: url(~@/../public/static/ico/clock-cir-gray.svg);
    width: 35px;
    height: 35px;
}

.LsIcon-cloud-upload-lg:before {
    background-image: url(~@/../public/static/ico/cloud-upload-lg.svg);
    width: 50px;
    height: 50px;
}

.LsIcon-song:before {
    background-image: url(~@/../public/static/ico/song.svg);
    width: 114px;
    height: 114px;
}

.LsIcon-beat:before {
    background-image: url(~@/../public/static/ico/beat.svg);
    width: 114px;
    height: 114px;
}

.LsIcon-plus:before {
    background-image: url(~@/../public/static/ico/plus.svg);
    width: 14px;
    height: 14px;
}

.LsIcon-search {
    background-image: url(~@/../public/static/ico/search.svg);
    width: 16px;
    height: 16px;
}

.LsIcon-dot-menu-v {
    background-image: url(~@/../public/static/ico/dot-menu-v.svg);
    width: 24px;
    height: 24px;
}

.LsIcon-envelope-open {
    background-image: url(~@/../public/static/ico/envelope-open.svg);
    width: 24px;
    height: 24px;
}

.LsIcon-logo-streamy {
    background-image: url(~@/../public/static/ico/logo-streamy.svg);
    width: 22px;
    height: 24px;
}

.LsIcon-logo-twitter {
    background-image: url(~@/../public/static/ico/logo-twitter.svg);
    width: 23px;
    height: 19px;
}

.LsIcon-logo-sc {
    background-image: url(~@/../public/static/ico/logo-sc.svg);
    width: 29px;
    height: 14px;
}

.LsIcon-logo-ig {
    background-image: url(~@/../public/static/ico/logo-ig.svg);
    width: 24px;
    height: 24px;
}

.LsIcon-dollar {
    background-image: url(~@/../public/static/ico/dollar.svg);
    width: 8px;
    height: 15px;
}
