.ls {
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
}

.ls-edit {
    background-image: url(~@/../public/static/img/ico/pen.svg);
    width: 50px;
    height: 50px;
}

.ls-trash {
    background-image: url(~@/../public/static/img/ico/trash.svg);
    width: 50px;
    height: 50px;
}

.ls-eye {
    background-image: url(~@/../public/static/img/ico/eye.svg);
    width: 50px;
    height: 50px;
}

.ls-clock {
    background-image: url(~@/../public/static/img/ico/clock.svg);
    width: 50px;
    height: 50px;
}
