@import 'bootstrapSettings';
@import 'functions';

// Put your variables here

// Color
$body-bg: white;
$text-color: #333333;
$border-color: #e7e7e7;
$loading-color: #44589b;

// Font
$font-base-family: 'Montserrat', Helvetica, Arial, sans-serif;
$font-source-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;

$type-scale: 1.1;
$font-size-base: 1rem;
$font-sizes: ();
$font-sizes: (
  '-2': 1 / pow($type-scale, 2) * $font-size-base,
  '-1': 1 / $type-scale * $font-size-base,
  0: $font-size-base,
  1: pow($type-scale, 1) * $font-size-base,
  2: pow($type-scale, 2) * $font-size-base,
  3: pow($type-scale, 3) * $font-size-base,
  4: pow($type-scale, 4) * $font-size-base,
  5: pow($type-scale, 5) * $font-size-base,
  6: pow($type-scale, 6) * $font-size-base,
  7: pow($type-scale, 7) * $font-size-base,
  8: pow($type-scale, 8) * $font-size-base,
);

$font-weight-lighter: lighter;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-semi-bold: 500;
$font-weight-bold: 700;
$font-weight-bolder: 800;

$font-weight-base: $font-weight-normal;
$font-base-color: $text-color;

// Wrap
$wrap-bg: #f2f6f7;

// Vue Toast
$vt-font-family: $font-base-family;
$vt-toast-min-height: 40px;
