.LicenseCard {
    padding: 15px 20px;

    .view-block {
        display: flex;
        align-items: center;
        .form-group {
            margin-bottom: 0;
        }
    }

    .edit-block {
        display: none;
        margin-top: 5px;
    }

    .edit-form {
        margin-top: 15px;
    }

    .Card-body {
        flex: 1;
        margin-left: 10px;
    }

    .Card-title {
        line-height: 15px;
    }

    .close-btn {
        display: none;
    }

    .edit-actions {
        flex-direction: column;
        margin-top: 30px;
        .col-left {
            order: 1;
            text-align: center;
            margin-top: 20px;
        }
        .col-right {
            display: flex;
            .btn {
                margin: 0;
                width: 50%;
            }
            .cancel-btn {
                margin-right: 10px;
            }
        }
    }

    &.is-editing {
        .edit-btn {
            visibility: hidden;
        }
        .close-btn,
        .edit-block {
            display: block;
        }
    }

    @include media-breakpoint-up(md) {
        .edit-form {
            margin: 0 37px;
        }
        .edit-actions {
            flex-direction: row;
            .col-left {
                text-align: left;
                order: 0;
                margin-top: 0;
            }
        }
    }
}
