/***************************************
  			Form
****************************************/
.form-group {
	position: relative;

	> label {
		height: 2 * $spacer;
		margin: 0;
	}
	
	.form-control {
		&:focus {
			border-color: $input-border-color;
			box-shadow: none;
		}
		&.is-valid,
		&.is-invalid {
			border-color: $input-border-color;
		}
	}

	.invalid-feedback {
		$triangle-size: 5px;
		position: absolute;
		top: $spacer;
		left: 50%;
		width: unset !important;
		margin-top: -0.5 * $spacer;
		padding: 0.5 * $spacer $spacer;
		font-size: 0.76 * $font-size-base;
		color: $text-color;
		text-align: center;
		background: $body-bg;
		border: 1px solid $form-feedback-invalid-color;
		border-radius: $border-radius;
		transform: translateX(0) translateY(-50%);
		@include depth(1);

		&::before {
			content: "";
			position: absolute;
			top: 0.75 * $spacer;
			left: -$triangle-size;
			width: $triangle-size;
			margin-left: 0;
			border-top: solid $triangle-size transparent;
			border-bottom: solid $triangle-size transparent;
			border-right: solid $triangle-size $form-feedback-invalid-color;
		}
		
		&::after {
			content: "";
			position: absolute;
			top: 0.75 * $spacer;
			left: calc(1px - #{$triangle-size});
			width:$triangle-size;
			margin-left: 0;
			border-top: solid $triangle-size transparent;
			border-bottom: solid $triangle-size transparent;
			border-right: solid $triangle-size $body-bg;
		}
	}

	@for $i from 0 through 200 {
		&.error-l-#{$i} .invalid-feedback {
			left: #{$i}px;
		}
	}
}

/*********** Wizard ************/
.wizard-basic-step {
	min-height: 85px;
}

.wizard-buttons {
	display: flex;
	
	.disabled {
		opacity: 0.5;
	}
}

.wizard {
	margin-top: -2rem;
	
	ul.nav {
		display: flex;
		list-style: none;
		flex-wrap: wrap;
		padding-left: initial;
		padding: initial;
		background: initial;
		position: relative;
		border: initial;
		margin-bottom: 1.5rem;
	
		&:before {
			content: " ";
			position: absolute;
			bottom: 1px;
			width: 100%;
			height: 1px;
			z-index: 0;
			background: $gray-200;
		}
	}
	
	&-default ul.nav li {
		position: relative;
		padding: 0.5rem 1rem;
		text-align: center;
	
		a,
		a:focus {
			color: $border-color;
			span,
			small {
				color: $border-color;
				text-align: center;
			}
		}
	
		a:active,
		a:hover {
			color: $linkstream-1;
			span,
			small {
				color: $linkstream-1;
			}
		}
	
		span {
			display: block;
			font-weight: 700;
			color: $border-color;
		}
	
		&.step-doing {
			a {
				color: $linkstream-1;
				span,
				small {
					color: $linkstream-1;
				}
			}
		}
	
		a:before {
			content: " ";
			position: absolute;
			margin-top: 10px;
			display: block;
			border-radius: 50%;
			color: initial;
			background: $gray-200;
			border: none;
			width: 18px;
			height: 18px;
			text-decoration: none;
			z-index: 1;
			left: 50%;
			transform: translateX(-50%);
			bottom: -6px;
		}
	
		&.step-doing a:after,
		&.step-done a:after {
			content: " ";
			position: absolute;
			margin-top: 10px;
			display: block;
			border-radius: 50%;
			color: initial;
			background: $linkstream-1;
			border: none;
			width: 10px;
			height: 10px;
			text-decoration: none;
			z-index: 2;
			left: 50%;
			transform: translateX(-50%);
			bottom: -2px;
		}
	
		&.step-done a:after {
			background: initial;
			background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='"+encodecolor(
				$linkstream-1
				)+"' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
		}
	}

	&.disabled {
		a,
		a:active,
		a:hover {
			cursor: default;
			color: $border-color;
			span,
			small {
				color: $border-color;
			}
		}

		.step-doing {
			a {
				color: $linkstream-1 !important;
				span,
				small {
					color: $linkstream-1 !important;
				}
			}
		}
	}
}
	
  
@include respond-below(sm) {
	.wizard-default ul.nav li {
		small,
		span {
			display: none;
		}
	}
}
