/***************************************
  			Main
****************************************/
main {
    margin-left: $sub-menu-width + $main-menu-width + $main-margin;
    margin-top: $navbar-height + $main-margin;
    margin-right: $main-margin;
    margin-bottom: $main-margin;
    transition: margin-left $menu-collapse-time;
  
    &.sub-hidden {
        margin-left: $main-menu-width + $main-margin;
    }
  
    &.main-hidden {
        margin-left: $main-margin;
    }
  
    .container-fluid {
        padding-left: 0;
        padding-right: 0;
    }
}

.menu-mobile main {
    margin-left: $main-margin !important;
    margin-right: $main-margin !important;
    margin-top: $main-margin + $navbar-height !important;
    margin-bottom: 0;
}

.sub-hidden main,
.menu-sub-hidden main,
.menu-hidden main {
    margin-left: $main-menu-width + $main-margin;
}
.main-hidden main,
.menu-hidden main {
    margin-left: $main-margin;
}
