.alrt {
    // Reset bs styles
    .modal-dialog {
        max-width: 300px !important;
        margin-left: auto;
        margin-right: auto;
    }

    .modal-content {
        border-color: $white;
    }

    .modal-body {
        padding: 20px 15px 15px 15px;
    }
}

.alrt-close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 12px;
    z-index: 1;
}

.alrt-body {
    text-align: center;
    padding: 0 30px;
}

.alrt-title {
    color: $black;
    font-size: px2rem(14);
    font-weight: bold;
    letter-spacing: 0;
}

.alrt-msg {
    color: $linkstream-100;
    font-size: px2rem(13);
    line-height: 20px;
    margin: 10px 0 0 0;
}

.alrt-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.alrt-action-btn {
    width: 128px;
    height: 40px;
    padding: 0 !important;
}
