.DropFile {
    .preview,
    .drop {
        display: flex;
        align-items: center;
        border-radius: 4px;
        padding: 15px 20px;
        height: 80px;
    }

    &.is-invalid {
        .drop {
            border-color: $danger;
            border-width: 2px;
        }
    }

    .preview {
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.22);
    }

    .drop {
        border: 1px dashed $linkstream-130;
        cursor: pointer;
        &.highlight,
        &:hover {
            border-color: $linkstream-20;
        }
    }

    .drop-icon {
        @extend .LsIcon;
        &:before {
            @extend .LsIcon:before;
            background-image: url(~@/../public/static/ico/cloud-upload-sm.svg);
            width: 35px;
            height: 28px;
        }
    }

    .file-info {
        flex-grow: 1;
    }

    .file-desc {
        font-size: px2rem(12);
        font-weight: bold;
    }

    .file-name {
        font-size: px2rem(11);
    }

    .file-remove-btn {
        display: none;
        text-decoration: none;
    }

    @include media-breakpoint-up(md) {
        .file-desc {
            font-size: px2rem(14);
        }

        .file-name {
            font-size: px2rem(12);
        }

        .drop-icon:before {
            background-image: url(~@/../public/static/ico/cloud-upload-lg.svg);
            width: 43px;
            height: 34px;
        }

        .file-remove-btn {
            display: block;
        }

        .file-menu {
            display: none;
        }
    }
}
