.DropImage {
    .drop-box,
    .img-box {
        height: 140px;
        width: 140px;
    }

    .preview {
        display: flex;
        flex-direction: column;
    }

    .img-box {
        position: relative;
        margin-bottom: 7px;
        img {
            max-width: 100%;
            max-height: 100%;
        }
    }

    .file-replace-btn {
        position: absolute;
        right: 0;
        bottom: 0;
        padding: 5px;
    }

    .file-remove-icon {
        position: absolute;
        top: -8px;
        right: -8px;
    }

    .file-remove-btn {
        align-self: flex-start;
        font-size: px2rem(12);
    }

    .upload {
        display: flex;
    }

    .drop-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border: 2px dashed $linkstream-30;
        background-color: $white;
        &.highlight,
        &:hover {
            border-color: $linkstream-20;
        }
    }

    .file-add-btn {
        display: none;
    }

    .upload-icon {
        &:before {
            @extend .LsIcon:before;
            background-image: url(~@/../public/static/ico/drop-image/cam-plus-md.svg);
            width: 40px;
            height: 36px;
        }
    }

    .upload-msg {
        font-size: px2rem(12);
        text-align: center;
        u {
            color: $primary;
            text-decoration: none;
            font-weight: normal;
        }
    }

    .upload-msg-l {
        display: none;
    }

    @include media-breakpoint-up(md) {
        .drop-box,
        .img-box {
            width: 215px;
            height: 215px;
            cursor: pointer;
        }

        .upload-icon:before {
            background-image: url(~@/../public/static/ico/drop-image/cam-plus-lg.svg);
            width: 49px;
            height: 44px;
        }

        .upload-msg {
            font-size: px2rem(13);
        }

        .upload-msg-s {
            display: none;
        }

        .upload-msg-l {
            display: block;
        }
    }
}
