.drop-audio {
    .d__title {
        font-weight: bold;
    }

    .d__prv {
        display: flex;
        .flex-item:nth-child(2) {
            flex-grow: 1;
        }
    }

    .d__upl {
        display: flex;
        border: 1px dashed #d1d1d1;
        border-radius: 4px;
        cursor: pointer;
        &.--highlight,
        &:hover {
            border-color: $linkstream-20;
        }
        .flex-item:nth-child(1) {
            flex-grow: 1;
        }
    }
}
