.dropfoto {
    height: 140px;
    width: 140px;

    .dropfoto__dropbox {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100%;
        cursor: pointer;
        text-align: center;
        padding-left: 15px;
        padding-right: 15px;
        border: 2px dashed $linkstream-30;
        background-color: $white;
        &.is-highlight,
        &:hover {
            border-color: $linkstream-20;
        }
    }

    .dropfoto__ico {
        display: inline-block;
        margin-bottom: 5px;
    }

    .dropfoto__ico:before {
        content: '';
        display: inline-block;
        background-image: url(~@/../public/static/ico/dropfoto/cam-plus.svg);
        background-repeat: no-repeat;
        background-position: center;
        width: 40px;
        height: 36px;
    }

    .dropfoto__txt-sm {
        font-size: px2rem(12);
        letter-spacing: 0;
        line-height: 20px;
    }

    .dropfoto__txt {
        display: none;
        font-size: px2rem(13);
    }

    .dropfoto__preview {
        position: relative;
        margin-bottom: 7px;
    }

    .dropfoto__img {
        max-width: 100%;
        max-height: 100%;
    }

    .dropfoto__addbtn {
        position: absolute;
        right: 0px;
        bottom: 0px;
    }

    .dropfoto__removebtn {
        position: absolute;
        right: -15px;
        top: -15px;
    }

    .dropfoto__removelink {
        font-size: px2rem(12);
    }

    @include media-breakpoint-up(sm) {
        & {
            width: 215px;
            height: 215px;
        }

        .dropfoto__dropbox {
            padding-left: 30px;
            padding-right: 30px;
        }

        .dropfoto__txt-sm {
            display: none;
        }

        .dropfoto__txt {
            display: block;
        }

        .dropfoto__ico:before {
            background-image: url(~@/../public/static/ico/dropfoto/cam-plus-lg.svg);
            width: 49px;
            height: 44px;
        }
    }
}
