.u-avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32.25px;
    height: 32.25px;
    background-size: 32.25px 32.25px;
    background-color: $linkstream-30;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: normal;
    @include border-radius(50%);
}
