.beats-container {
    .art-item {
        margin: 5px 5px 30px 5px;
        .img-container {
            position: relative;
            img {
                width: 100%;
            }
            .center-img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: inherit;
            }
        }
        .art-desc {
            margin-top: 10px;
            display: inline-block;
            color: black;
            text-decoration: none;
            .title {
                font-size: px2rem(13);
                line-height: px2rem(18);
                font-weight: bold;
            }
            .price {
                font-size: px2rem(13);
                line-height: px2rem(18);
                margin-right: 7px;
                float: left;
            }
            .bogo {
                background-color: #FEEBD3;
                color: black;
                width: 42px;
                height: 17px;
                border-radius: 17px;
                font-size: 10px;
                line-height: 17px;
                text-align: center;
                float: left;
            }
        }
        .actions-menu {
            float: right;
            margin-top: 20px;
            margin-right: 5px;
        }
        .action {
            margin-top: 10px;
            .btn-download {
                margin-left: 7px;
            }
            .btn-buy {
                padding: 7px 15px;
            }
        }
        @include media-breakpoint-down(sm) {
            display: flex;
            margin: 0;
            padding: 15px 0px;
            border-bottom: 1px solid $gray-320;
            .img-container {
                width: 70px;
                min-width: 70px;
                img.center-img {
                    width: 36px;
                }
            }
            .art-desc {
                margin-left: 13px;
                .price {
                    float: inherit;
                }
            }
            .action {
                margin-left: auto;
                margin-right: 5px;
                .btn-buy {
                    display: block;
                }
                .btn-download {
                    margin-top: 15px;
                    margin-right: 5px;
                    margin-left: auto;
                    display: block;
                }
                .actions-menu {
                    margin-top: 15px;
                    margin-right: 5px;
                    margin-left: 15px;
                }
            }
            &:last-child {
                margin-bottom: 30px;
            }
        }
    }
}
.page-beat-details {
    padding: 0;
    .page-body {
        display: flex;
        flex-direction: row;
        padding-top: 30px;
        padding-left: 15px;
        padding-right: 15px;
        @include media-breakpoint-down(sm) {
            flex-direction: column;
        }
    }
    .left-col {
        flex-basis: 280px;
        margin-right: 40px;
        @include media-breakpoint-down(sm) {
            margin-right: 0;
        }
    }
    .right-col {
        flex-basis: 100%;
        margin-bottom: 100px;
        padding-top: 20px;
    }
    .main-img.img-container {
        text-align: center;
        width: 280px;
        height: 280px;
    }
    .tags-container {
        margin-top: 20px;
        .title {
            margin-bottom: 15px;
            font-weight: bold;
        }
        .tag {
            padding: 4px 13px;
            font-size: px2rem(11);
            line-height: px2rem(10);
            color: $gray-510;
            border: 1px solid $gray-510;
            border-radius: 100px;
            display: inline;
            margin-right: 5px;
        }
    }
    .collabs-container {
        margin-top: 30px;
        .title {
            margin-bottom: 15px;
            font-weight: bold;
        }
        .collab-row {
            display: flex;
            margin-left: 7px;
            margin-bottom: 15px;
            line-height: 40px;
            .UserAvatar .avatar {
                width: 40px;
                height: 40px;
            }
            .avatar-badge {
                position: absolute;
                margin-top: 25px;
                margin-left: 25px;
            }
            .user-name {
                margin-left: 10px;
            }
        }
    }
    .header {
        display: flex;
        @include media-breakpoint-down(sm) {
            display: inherit;
        }
        .left-header {
            .title-container {
                display: flex;
                .title {
                    font-size: px2rem(30);
                    line-height: px2rem(30);
                    font-weight: 900;
                    margin-left: 7px;
                    margin-top: 5px;
                    color: black;
                    @include media-breakpoint-down(sm) {
                        font-size: px2rem(20);
                        line-height: px2rem(20);
                    }
                }
                margin-bottom: 12px;
            }
            .desc {
                font-size: px2rem(13);
                line-height: px2rem(19);
            }
        }
        .right-header {
            margin-left: auto;
            .btn-download {
                margin-right: 10px;
            }
            .btn-icon .ico-dot-menu-h{
                margin-top: 20px;
                margin-left: 6px;
            }
            .btn-round {
                width: 50px;
                height: 50px;
                border: 1px solid $gray-510;
                border-radius: 50px;
                color: $gray-510;
            }
            @include media-breakpoint-down(sm) {
                text-align: right;
                margin-top: 15px;
            }
        }
    }
    .license-body {
        .Card {
            padding: 22px 20px;
            .price {
                font-size: px2rem(16);
                line-height: px2rem(28);
                margin-right: 23px;
            }
            .btn-buy {
                margin-left: auto;
                max-height: 36px;
                padding: 9px 20px;
                min-width: 100px;
                img {
                    width: 18px;
                    margin-top: -5px;
                }
            }
            @include media-breakpoint-down(sm) {
                .d-flex {
                    display: inherit !important;
                }
                .btn-buy {
                    margin-top: 7px;
                }
            }
        }
        
    }
    .more-artist {
        margin-top: 48px;
        .section-title {
            margin-bottom: 15px;
            text-transform: uppercase;
            color: $gray-530;
            font-size: px2rem(11);
            font-weight: bold;
            line-height: px2rem(18);
            letter-spacing: 1.83px;
        }
        .artist {
            margin-bottom: 15px;
            .img-container {
                img {
                    width: 100%
                }
            }
            .title {
                font-size: px2rem(12);
                font-weight: bold;
                margin-top: 7px;
            }
            .desc {
                font-size: px2rem(11);
                line-height: px2rem(16);
            }
        }
    }
}
