.cart {
    .card-summary {
        border-radius: 6px;
        box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.25);
    }
    .card-summary-title {
        color: #333333;
        font-size: 16px;
        font-weight: 800;
        letter-spacing: 0;
        line-height: 22px;
    }
    .card-summary-details {
        color: #333333;
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 0;
        line-height: 18px;
    }
    .card-summary-total {
        color: #dc2ea6;
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 19px;
    }
    .summary-details-price {
        color: #333333;
        font-size: 12px;
        letter-spacing: 0;
        line-height: 18px;
    }
    .summary-total-price {
        color: #dc2ea6;
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 19px;
    }
    .btn-summary-total {
        width: 100%;
        color: #ffffff;
        font-size: 12px;
        text-align: center;
        letter-spacing: 2;
        line-height: 16px;
        font-weight: 800;
        background-color: #dc2ea6;
    }
    .title-page {
        color: #000000;
        font-size: 30px;
        font-weight: 800;
        letter-spacing: 0;
        line-height: 37px;
    }
    .cart-item {
        border-style: none;
        padding-top: 0;
    }
    .img-icon {
        width: 16px;
        height: 16px;
    }
    .name-artist {
        color: #000000;
        font-size: 13px;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 16px;
    }
    .img-item {
        height: 103px;
        width: 103px;
    }
    .name-item {
        color: #333333;
        font-size: 12px;
        font-weight: 500;
        letter-spacing: 0;
        line-height: 18px;
    }
    .type-item {
        color: #999999;
        font-size: 11px;
        font-weight: 500;
        letter-spacing: 0;
        line-height: 15px;
    }
    .price-item {
        color: #333333;
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 19px;
        text-align: right;
    }
    .divider {
        height: 1px;
        background-color: #d1d1d1;
    }
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin: auto;
    }
    .center-vertical {
        margin: 0;
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
}
.ckeckout-pay {
    .streamy-logo {
        height: 36px;
        width: 36px;
        background-color: #ffffff;
        box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.15);
        border-radius: 50%;
        padding: 7.5px 8px 8.4px 12px;
    }
    .continue-to-payment {
        color: #ffffff !important;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 0;
        line-height: 18px;
        text-align: center;
        background-color: #dc2ea6;
    }
    .keep-me-up-to-date-o {
        color: #000000;
        font-size: 11px;
        letter-spacing: 0;
        line-height: 16px;
    }
    .rectangle {
        border-radius: 6px;
        background-color: #ffffff;
        box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.22);
    }
    .label {
        color: #333333;
        font-family: Montserrat;
        font-size: 12px;
        font-weight: 500;
        letter-spacing: 0;
        line-height: 15px;
    }
    .contact-information {
        color: #000000;
        font-size: 18px;
        font-weight: 800;
        letter-spacing: 0;
        line-height: 22px;
    }
    .payment {
        color: #7d7d7d;
        font-size: 11px;
        font-weight: 500;
        letter-spacing: 0;
        line-height: 16px;
    }
    .ic-baseline-arrow-next {
        height: 12px;
        width: 12px;
        transform: scaleX(-1);
    }
    .information {
        color: #dc2ea6;
        font-family: Montserrat;
        font-size: 11px;
        font-weight: 500;
        letter-spacing: 0;
        line-height: 16px;
    }
    .link-stream-icon {
        height: 36px;
        width: 36px;
    }
    .link-stream-llc {
        height: 19px;
        width: 150px;
        color: #000000;
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 0;
        line-height: 19px;
    }
    #dropdown-form__BV_toggle_ {
        color: #ffffff;
        border-color: #ffffff;
        padding-left: 2px;
        padding-right: 2px;
    }
    .link-stream-llc-black {
        height: 19px;
        width: 150px;
        color: #ffffff;
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 0;
        line-height: 19px;
    }
    .menu-pay-responsive {
        color: #ffffff;
        background-color: #000000;
    }
    .name-artist-dark {
        color: #ffffff;
        font-size: 13px;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 16px;
    }
    .name-item-dark {
        color: #ffffff;
        font-size: 12px;
        font-weight: 500;
        letter-spacing: 0;
        line-height: 18px;
    }
    .type-item-dark {
        color: #ffffff;
        font-size: 11px;
        font-weight: 500;
        letter-spacing: 0;
        line-height: 15px;
        opacity: 0.99;
    }
    .price-item-dark {
        color: #ffffff;
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 19px;
        text-align: right;
    }
    .summary-details-dark {
        color: #ffffff;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 0;
        line-height: 18px;
    }
    .summary-total-dark {
        color: #ffffff;
        font-size: 16px;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 24px;
    }
    .details-price-dark {
        color: #ffffff;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 0;
        line-height: 18px;
        text-align: right;
    }
    .total-price-dark {
        color: #ffffff;
        font-size: 16px;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 24px;
        text-align: right;
    }
    .cart-item-dark {
        border-style: none;
        padding-top: 0;
        background-color: #000000;
        border-radius: 0px;
        max-height: 100%;
    }
    @media only screen and (min-width: 768px) {
        .right-side {
            position: fixed;
            bottom: 0px;
            right: 0px;
            height: 100% !important;
        }
        .height100 {
            height: 100% !important;
        }
    }
    input[data-error='true'] {
        border-color: #dc3545;
        padding-right: calc(1.5em + 0.75rem);
        //background-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23dc354…%3e%3ccircle cy='3' r='.5'/%3e%3ccircle cx='3' cy='3' r='.5'/%3e%3c/svg%3E);
        background-repeat: no-repeat;
        background-position: center right calc(0.375em + 0.1875rem);
        background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
    }
    div.error,
    li.error {
        color: #e02020;
        margin-top: 5px;
    }
    .msg-error {
        font-size: 0.85714rem;
        color: #e02020;
        font-weight: 600;
        margin-top: 5px;
    }
    .data-user {
        height: 42px;
        width: 251px;
        color: #333333;
        font-family: Montserrat;
        font-size: 12px;
        font-weight: 500;
        letter-spacing: 0;
        line-height: 21px;
    }
    .card-links {
        color: #dc2ea6;
        font-family: Montserrat;
        font-size: 11px;
        font-weight: 500;
        letter-spacing: 0;
        line-height: 15px;
        text-decoration: none;
    }
    .thank-you {
        color: #000000;
        font-family: Montserrat;
        font-size: 30px;
        font-weight: 800;
        letter-spacing: 0;
        line-height: 34px;
    }
    .your-files-are-now-a {
        color: #333333;
        font-family: Montserrat;
        font-size: 14px;
        letter-spacing: 0;
        line-height: 20px;
    }
    .items-purchased {
        color: #000000;
        font-family: Montserrat;
        font-size: 18px;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 24px;
    }
    .order {
        color: #000000;
        font-family: Montserrat;
        font-size: 14px;
        letter-spacing: 0;
        line-height: 14px;
    }

    .customer-information {
        color: #000000;
        font-family: Montserrat;
        font-size: 18px;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 19px;
    }
    .email {
        color: #000000;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 0;
        line-height: 20px;
    }
    .payment-method {
        color: #000000;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 0;
        line-height: 20px;
    }
    .customer-information-details {
        color: #000000;
        font-family: Montserrat;
        font-size: 14px;
        letter-spacing: 0;
        line-height: 20px;
    }
    .you-might-also-like {
        color: #000000;
        font-family: Montserrat;
        font-size: 18px;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 26px;
    }
    .continue-shopping {
        color: #ffffff;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 0;
        line-height: 18px;
        text-align: center;
        background-color: #dc2ea6;
    }
    .details-items-pay {
        color: #000000;
        font-family: Montserrat;
        font-size: 13px;
        letter-spacing: 0;
        line-height: 18px;
    }
    .details-items-pay-link {
        color: #dc2ea6;
        font-family: Montserrat;
        font-size: 13px;
        letter-spacing: 0;
        line-height: 18px;
        text-decoration: none;
    }

    .details-recommendation {
        color: #000000;
        font-family: Montserrat;
        font-size: 12px;
        font-weight: 500;
        letter-spacing: 0;
        line-height: 18px;
    }
    .return-links {
        color: #dc2ea6;
        font-family: Montserrat;
        font-size: 13px;
        font-weight: 600;
        letter-spacing: 0;
        line-height: 15px;
        text-decoration: none !important;
    }
    .contact-information {
        ul {
            @include media-breakpoint-up(md) {
                display: flex;
            }
            li {
                @include media-breakpoint-down(md) {
                    margin-top: 20px;
                }
                padding-bottom: 5px;
                &:first-child {
                    margin-right: 20px;
                }
                &.active {
                    border-bottom: 3px solid $color-pink-1;
                }
                a {
                    color: black;
                }
            }
        }
    }
}
.paypal-container {
    padding-top: 50px;
    padding-bottom: 50px;
}
.paypal-button-context-iframe {
    text-align: center;
    margin-top: 20px;
}


.scrollbar
{	
	float: left;
	max-height: 500px;
	width: auto;
	background: #000000;
	overflow-y: scroll;
    margin-bottom: 25px;
    margin-right: 3px;
}

.force-overflow
{
    max-height: 500px;
    background-color: #000000;
    
}
.style-scrollbar::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0  rgba(0,0,0,0.3);
	box-shadow: inset 0 0  rgba(0,0,0,0.3);
    background-color: #000000;
    border-radius: 10px;
}

.style-scrollbar::-webkit-scrollbar
{
	width: 6px;
	background-color: #000000;
}

.style-scrollbar::-webkit-scrollbar-thumb
{    
    border-radius: 10px;
	background-color: #f5f5f5;
}
