* {
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 14px;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: $font-base-family;
  font-size: $font-size-base;
  font-weight: $font-weight-normal;
  line-height: 1.428571429;
  color: $font-base-color;
  background-color: $body-bg;
}

.wrap {
  background: $wrap-bg;
}

.text-black {
  color: $black;
}
/***************************************
  Images
****************************************/
.avatar {
  width: 40px;
  height: 40px;
}
/***************************************
  Buttons
****************************************/
.btn-transparent {
  background: none;
  border: none;
}
.btn-action {
  font-weight: $font-weight-semi-bold;
  text-transform: uppercase;
  letter-spacing: 2px;
}
/***************************************
  Form
****************************************/
.form-control {
  + .btn-input-spinner {
    position: absolute;
    top: 2 * $spacer;
    right: 0;
    height: $input-height;
    display: flex;
    color: $linkstream-1;
    background: none;
    border: none;
    box-shadow: none;

    .spinner-border {
      width: 1.2 * $font-size-base;
      height: 1.2 * $font-size-base;
      border-width: 2px;
    }
  }
  &.is-invalid + .btn-input-spinner {
    right: $input-height-inner-half;
  }
}
/***************************************
  Spinner
****************************************/
.spinner-border {
  &.btn-spinner {
    border-width: 1px;
  }
}
/***************************************
  Vue Toast Notification
****************************************/
.#{$vt-namespace}__toast {
  padding: $spacer;
  @include border-radius(2px);

  &-body {
    font-size: $font-size-base;
  }
}
.#{$vt-namespace}__close-button {
  font-size: $font-size-base;
  font-weight: $font-weight-light;
}
.#{$vt-namespace}__progress-bar {
  height: 3px;
}
/***************************************
  Perfect Scrollbar
****************************************/
.ps-container {
  margin-right: -15px;
  padding-right: 15px;
  position: relative;
}

.ps__scrollbar-y-rail {
  width: 5px !important;
}

.ps__scrollbar-y {
  left: 0 !important;
}

.ps__rail-y,
.ps__thumb-y {
  width: 5px !important;
  right: 0 !important;
}

.ps__rail-y.ps--clicking .ps__thumb-y,
.ps__rail-y:focus > .ps__thumb-y,
.ps__rail-y:hover > .ps__thumb-y {
  width: 5px !important;
}

.ps__scrollbar-y-rail:hover > .ps__scrollbar-y,
.ps__scrollbar-y-rail:focus > .ps__scrollbar-y,
.ps__scrollbar-y-rail.ps--clicking .ps__scrollbar-y {
  width: 5px !important;
  left: 0 !important;
}

.ps > .ps__scrollbar-y-rail > .ps__scrollbar-y {
  right: 0 !important;
}

.ps__scrollbar-y-rail:hover,
.ps__scrollbar-y-rail:focus,
.ps__scrollbar-y-rail.ps--clicking .ps__scrollbar-y {
  background-color: $border-color !important;
}

.ps.ps--in-scrolling.ps--y > .ps__scrollbar-y-rail {
  background-color: $border-color !important;
}

.ps__scrollbar-y {
  background-color: $border-color !important;
}
