.ChooseStore {
    .modal-header {
        flex-direction: unset;
    }
    .store-logo {
        //background-color: #ffffff;
        //box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.15);
        //border-radius: 50%;
        cursor: pointer;
    }
    span {
        font-size: px2rem(11);
        color: black;
    }
}
