.mdl-user-search {
    .search-clear-btn {
        position: absolute;
        top: 15px;
        right: 15px;
    }

    .ls-spinner {
        display: none;
        position: absolute;
        top: 17px;
        right: 15px;
        & > span {
            width: 10px;
            height: 10px;
        }
    }

    .search-input {
        position: relative;
        margin-bottom: 20px;

        input {
            padding-right: 35px;
        }

        &.--loading {
            input {
                padding-right: 50px;
            }
            .ls-spinner {
                display: block;
            }
            .search-clear-btn {
                display: none;
            }
        }
    }
}
