.UserSearchModal {
    .modal-content {
        padding-bottom: 60px;
    }
    &.--searched {
        .modal-content {
            padding-bottom: 30px;
        }
    }
    .LsSpinner {
        display: none;
        position: absolute;
        top: 17px;
        right: 15px;
        & > span {
            width: 10px;
            height: 10px;
        }
    }
    .search-box {
        &.--loading {
            .LsSpinner {
                display: block;
            }
            .search-input {
                padding-right: 50px;
            }
            .search-clear {
                display: none;
            }
        }
        .search-input {
            padding-right: 35px;
        }
        .search-clear {
            position: absolute;
            top: 15px;
            right: 15px;
        }
    }
    .search-results {
        .UserAvatar {
            margin-right: 8px;
        }
        li {
            display: flex;
            padding: 15px 0;
            border-bottom: 1px solid $linkstream-90;
            align-items: center;
            &:not(.invite) {
                cursor: pointer;
            }
            &:hover:not(.invite) {
                background-color: $gray-100;
            }
            &:first-child:not(.invite) {
                margin-top: 15px;
            }
            &.invite {
                border-bottom: 0;
                padding-bottom: 0;
                p {
                    margin-bottom: 0;
                }
            }
        }
    }
}
