.UserSearchModal {
    &.is-done {
        .modal-content {
            padding-bottom: 30px;
        }
        .search-results {
            display: block;
        }
        .LsSpinner {
            display: none;
        }
    }

    &.is-searching {
        .LsSpinner {
            display: block;
        }
    }

    .modal-content {
        padding-bottom: 60px;
    }

    .LsSpinner {
        display: none;
        margin-top: 30px;
    }

    .search-input {
        input {
            padding-right: 35px;
        }
        .search-clear {
            position: absolute;
            top: 15px;
            right: 15px;
        }
    }

    .search-results {
        display: none;
        .UserAvatar {
            margin-right: 8px;
        }

        li {
            display: flex;
            padding: 15px 0;
            border-bottom: 1px solid $linkstream-90;
            align-items: center;
            &:not(.invite) {
                cursor: pointer;
            }
            &:hover:not(.invite) {
                background-color: $gray-100;
            }
            &:first-child:not(.invite) {
                margin-top: 15px;
            }
            &.invite {
                border-bottom: 0;
                padding-bottom: 0;
                p {
                    margin-bottom: 0;
                }
            }
        }
    }
}
