.mdl-vid-edit {
    .yt-wrap {
        width: 201px;
        height: 113px;
        margin-bottom: 20px;
    }

    @include media-breakpoint-up(md) {
        .delete-action {
            flex-grow: 1;
        }
    }
}
