.modal-vid-edit {
    // Reset bs style
    .modal-body {
        padding: 1.2rem;
    }

    .mdl__header {
        position: relative;
        margin-bottom: 20px;
    }

    .mdl__close {
        position: absolute;
        top: -10px;
        right: -10px;
    }

    .mdl__title {
        color: $black;
        font-size: 18px;
        font-weight: bold;
    }

    .mdl__footer {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;

        .btn {
            padding: 0;
            width: 135px;
            height: 40px;
        }
    }

    .pubtm-input,
    .pubdt-input-wrap {
        width: 50%;
    }

    .pubdt-input {
        border-right: 0px;
    }

    .vid-wrap,
    .vid-wrap iframe {
        width: 201px;
        height: 112.76px;
        margin-bottom: 20px;
    }

    @include media-breakpoint-up(sm) {
        .modal-dialog {
            max-width: 320px !important;
        }
    }
}
