/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 8, 2019, 8:27:55 AM
    Author     : paolo
*/
.streamy_logo {
    width: 60px;
    height: 60px;
}

.menu_icon {
    width: 20px;
    height: 20px; 
}


