/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 8, 2019, 8:27:55 AM
    Author     : paolo
*/
.streamy_logo {
  width: 60px;
  height: 60px;
}

.menu_icon {
  width: 20px;
  height: 20px;
}

/*region Menu*/
.menu_icon {
  width: 20px;
  height: 20px;
}

.font-menu {
  font-family: Montserrat;
  color: #9d9d9d;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.11px;
  line-height: 18px;
  text-align: center;
}

.font-submenu {
  font-family: Montserrat;
  color: #ffffff;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.09px;
  line-height: 32px;  
  text-align: left;
}

.my-menu-link {
  border-left: 6px solid #fdd311;
}
/*endregion*/
/*region Track-Links*/
.upload_file_track {
  height: 247px;	
  width: 567px;
  border-style: dashed;
  border-width: 1px;
  border-color: #d7d7d7;
}
.upload_file_photo {
  width: 220px;
  height: 220px;
  border-style: dashed;
  border-width: 1px;
  border-color: #d7d7d7;
}
.steps_track_link {
  color: #9d9d9d;
  font-family: Montserrat;
  font-size: 11px;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 24px;
}
.icon_track_link{
  align-content: center; 
}
.title_track_link {  
  color: #000000;	
  font-family: Montserrat;
  font-size: 30px;	
  font-weight: 800;	
  line-height: 34px;
}
.subtitle_track_link {
  color: #000000;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.12px;
  line-height: 24px;
  text-align: center;
}
.subtitle_icon_track_link {
  color: #000000;
  font-family: Montserrat;	
  font-size: 13px;	
  font-weight: 500;	
  letter-spacing: 0.1px;	
  line-height: 18px;	
  text-align: center; 	
}
.subtitle2_icon_track_link {  
  color: #DC2EA6;	
  font-family: Montserrat;	
  font-size: 13px;	
  font-weight: 500;	
  letter-spacing: 0.1px;	
  line-height: 18px;	
  text-align: center; 
  margin-left: 4px;			
}
.next_btn_track_link {
  height: 50px;
  width: 133px;
  border-radius: 25px;
  background-color: #dc2ea6;
  font-weight: 500;
}
.next_text_track_link {
  color: #ffffff;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 2px;
  line-height: 18px;
  text-align: center;
}
.back_btn_track_link {
  box-sizing: border-box;
  height: 51px;
  width: 134px;
  border: 1px solid #9d9d9d;
  border-radius: 25px;
}
.back_text_track_link {
  color: #9d9d9d;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 2px;
  line-height: 18px;
  text-align: center;
}
.player{
  width: 240px; 
  height: 45px;
  background-color: #000000;
  border-radius: 8px;  
}
.coverArt{
  /*width: 280px;
  height: 150px;*/
  width: 240px; 
  height: 140px;
}
.time_player{
  font-family: Montserrat;  
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
}

/*region Login New Design*/
  .top-nav {
    height: 80px;
    background-color: #000000;
    display: flex;
    justify-content: center;
    margin: 0;
  }

  .logo-linkstream {	
    height: 34px;	
    width: 165px;
    position: absolute;
    margin-top: 23px;       
  }

  .streamy-icon {	
    display:inline-block;
    vertical-align:middle;
    height: 32.28px;	
    width: 28.79px;
  }

  .linkstream {	
    height: 18px;	
    width: 119px;	
    color: #FFFFFF;	
    font-family: Montserrat;	
    font-size: 14px;	
    font-weight: 900;	
    letter-spacing: 2px;	
    line-height: 18px;    
    display:inline-block;
    vertical-align:middle;
    margin-left: 10px;
  }

  .container {
    display: flex;
    justify-content: center;
    height: 180px;
    margin-top: 30px;
  }

  .social-sign-up-options {	    	
    width: 500px; 
    height: 180px;
    padding-top: 0;
    padding-bottom: 0;
  }

  .rectangle {	
    height: 50px !important;	
    width: 300px !important;	
    border-radius: 25px;	
    margin-bottom: 10px;
    background: linear-gradient(135deg, #A624D2 0%, #CE5353 47.8%, #FFB02D 100%);
  }

  .sign-up-with-google {	
    height: 50px !important;	
    width: 300px !important;	
    border-radius: 25px;	
    background-color: #D44C4C;
  }

  .social-btn-txt {	
    height: 18px;	    
    color: #FFFFFF;	
    font-family: Montserrat;	
    font-size: 14px;	
    font-weight: 600;	
    line-height: 18px;	
    text-align: center;
  }  

  .icon-instagram {	
    height: 18px;	
    width: 18px;
  }

  .icon-google {	
    height: 14.4px;	
    width: 14.4px;
  }

  .sign-in-with-email {	
    height: 24px;	
    width: 220px;	
    color: #000000;	
    font-family: Montserrat;	
    font-size: 16px;	
    font-weight: bold;	
    letter-spacing: 0.12px;	
    line-height: 24px;   
    margin-top: 20px; 
  }

  .card-form {
    margin-top: 20px;
    padding: 0;    
  }  

  .input-label {	    
    color: #000000;	
    font-family: Montserrat;	
    font-size: 14px;	
    letter-spacing: 0.11px;
    line-height: 24px;
  }

  .user-form {
    width: 350px;
    height: 180px;
    margin: 0 auto;
    padding: 0;    
  }

  .form-input {	
    height: 42px;	
    max-width: 350px;	
    background-color: #FFFFFF;  
    padding: 0;
    margin-top: 10px;
    margin-bottom: 25px;
  }

  .btn-sign-in {
    height: 50px;	
    width: 300px;	
    border-radius: 25px;	
    background-color: #DC2EA6;
    margin-top: 15px;
  }
  
  .txt-sign-in {    
    color: #FFFFFF;	
    font-family: Montserrat;	
    font-size: 13px;	
    font-weight: bold;	
    letter-spacing: 1.85px;	
    line-height: 16px;	
    text-align: center;
  }

  .forgot-password {	
    color: #DC2EA6;	
    font-family: Montserrat;	
    font-size: 14px;	
    font-weight: 500;	
    letter-spacing: 0.11px;	
    line-height: 24px;
  }

  .sign-up-terms {	
    height: 32px;	
    color: #333333;	
    font-family: Montserrat;	
    font-size: 11px;	
    line-height: 16px; 
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
  }

  .link-login {
    color: #DC2EA6;
    text-decoration: none;
  }

  .already-sign-up {	
    height: 18px;    
    color: #000000;	
    font-family: Montserrat;	
    font-size: 13px;	
    font-weight: 500;	
    letter-spacing: 0.1px;	
    line-height: 18px;	
    text-align: center;
    margin-bottom: 20px;
  }  

  .down-container {
    height: 100px;
    margin-top: 100px;
  }

  .txt-login-big {	
    height: 68px;	
    color: #000000;	
    font-family: Montserrat;	
    font-size: 30px;	
    font-weight: 800;	
    line-height: 34px;	
    text-align: center;
    margin-top: 35px;
  }

  .enter-email {	
    height: 56px;
    color: #333333;	
    font-family: Montserrat;	
    font-size: 16px;	
    line-height: 28px;	
    text-align: center;
    padding-left: 45px;
    padding-right: 45px;
  }

  .card-forgot {
    padding: 0;
  }

  .btn-reset {	
    height: 50px;	
    width: 170px;	
    border-radius: 25px;	
    background-color: #DC2EA6;
    margin-top: 35px;
  }

  .txt-reset {	
    height: 18px;	
    color: #FFFFFF;	
    font-family: Montserrat;	
    font-size: 14px;	
    font-weight: bold;	
    letter-spacing: 2px;	
    line-height: 18px;	
    text-align: center;
  }
  
  .txt-confirm-email {
    padding-left: 60px;
    padding-right: 60px;
    margin-top: 15px;
  }

  .resend-confirmation {	
    height: 18px;	
    width: 197px;	
    font-family: Montserrat;	
    font-size: 14px;	
    font-weight: 500;	
    letter-spacing: 0.11px;	
    line-height: 18px;	
    text-align: center;
    margin-top: 30px;
  }

/*endregion*/

/*region Responsive*/

  @media (max-width: 38em) {
    .input-label {
      padding-left: 15px;
    }

    .form-input {   
      padding-right: 15px;
      padding-left: 15px;      
    }
  }

/*endregion*/







