.layout-ua {
    @import 'navbar';
    @import 'sidebar';

    .smooth-dnd-draggable-wrapper {
        overflow: visible !important;
    }

    .layout-content {
        margin-top: $navbar-height + $main-margin;
        margin-bottom: $main-margin;
    }

    // Mobile device
    &.menu-mobile .layout-content {
        margin-left: $main-margin-mobile-x !important;
        margin-right: $main-margin-mobile-x !important;
        margin-top: $main-margin-mobile-y + $navbar-height !important;
        margin-bottom: $main-margin-mobile-y;
    }

    .page-header {
        margin-bottom: 15px;
    }

    .page-title {
        font-weight: 800;
        color: $black;
        font-size: px2rem(30);
        line-height: 34px;
        margin: 0;
        margin-bottom: $spacer * 0.5;
    }

    .page-subtitle {
        color: $black;
        line-height: 18px;
        font-weight: normal;
        font-size: px2rem(14);
    }

    .page-nav {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        margin-bottom: 1.5rem;
    }

    .page-nav-left {
        margin-bottom: 15px;
    }

    @include media-breakpoint-up(md) {
        // Sidebar completely hidden
        &.menu-sub-hidden.main-hidden.sub-hidden {
            .layout-content {
                margin-left: $main-margin;
            }
        }

        .layout-content {
            margin-left: $main-menu-width + $main-margin;
            margin-right: $main-margin;
            transition: margin-left $menu-collapse-time;
        }

        .page {
            max-width: 836px;
            margin: 0 auto;
        }
    }

    @include media-breakpoint-up(sm) {
        .page-header {
            margin-bottom: 0;
        }

        .page-nav {
            flex-direction: row;
        }

        .page-nav-left {
            flex-grow: 1;
            margin-bottom: 0;
            align-self: flex-end;
        }

        .page-nav-right {
            align-content: flex-end;
        }
    }
}
