.layout-ua {
    @import 'navbar';
    @import 'sidebar';
    @import 'buttons';
    @import '~@/assets/scss/partials/form-wizard';

    .layout__content {
        margin-left: $main-menu-width + $main-margin;
        margin-right: $main-margin;
        margin-top: $navbar-height + $main-margin;
        margin-bottom: $main-margin;
        transition: margin-left $menu-collapse-time;
        transition: margin-right $menu-collapse-time;
    }

    // All menus hidden
    &.menu-sub-hidden.main-hidden.sub-hidden {
        .layout__content {
            margin-right: $main-menu-width + $main-margin;
        }
    }

    // Mobile device
    &.menu-mobile .layout__content {
        margin-left: $main-margin-mobile-x !important;
        margin-right: $main-margin-mobile-x !important;
        margin-top: $main-margin-mobile-y + $navbar-height !important;
        margin-bottom: $main-margin-mobile-y;
    }

    .preview-url {
        color: $black;
        font-size: 12px;
        font-weight: 600;
        line-height: 1rem;
        margin-right: 0.3rem;
        letter-spacing: 0.5px;
        .preview-url__light {
            color: $linkstream-4;
            font-size: 12px;
            font-weight: 600;
            letter-spacing: 0;
        }
    }

    .page__header {
        margin-bottom: 15px;
    }

    .page__title {
        font-weight: 800;
        color: $black;
        font-size: 2rem;
        line-height: 34px;
        margin: 0;
        margin-bottom: $spacer * 0.5;
    }

    .page__subtitle {
        color: $black;
        font-size: 1rem;
        line-height: 18px;
        font-weight: normal;
    }

    .page__nav {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        margin-bottom: 1.5rem;
    }

    .page__nav__left {
        flex-grow: 1;
        margin-bottom: 15px;
        align-self: flex-start;
    }

    @include media-breakpoint-up(sm) {
        .page__nav {
            flex-direction: row;
        }
    }

    @include media-breakpoint-up(sm) {
        .page__header {
            margin-bottom: 0;
        }

        .page__nav__left {
            margin-bottom: 0;
            align-self: flex-end;
        }

        .page__nav__right {
            align-content: flex-end;
        }
    }
}
