.layout-ua {
    @import 'topnav';
    @import 'sidenav';

    .smooth-dnd-draggable-wrapper {
        overflow: visible !important;
    }

    .layout-content {
        margin-top: $navbar-height;
        margin-bottom: $main-margin;
    }

    // Mobile device
    &.menu-mobile .layout-content {
        margin-left: $main-margin-mobile-x !important;
        margin-right: $main-margin-mobile-x !important;
        margin-top: $navbar-height !important;
        margin-bottom: $main-margin-mobile-y;
        .page {
            padding-top: $main-margin-mobile-y;
        }
    }

    .ls-spinner {
        margin-top: 75px;
    }

    .permaurl {
        color: $black;
        font-size: px2rem(12);
        font-weight: 600;
        line-height: 1rem;
        letter-spacing: 0.5px;
        margin: 15px 0;
        .permaurl-light {
            color: $linkstream-70;
            font-size: 12px;
            font-weight: 600;
            letter-spacing: 0;
        }
        .permaurl-link {
            margin-left: 7px;
        }
    }

    .page-header {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }

    .page-title {
        font-weight: 800;
        color: $black;
        font-size: px2rem(30);
        line-height: 34px;
        margin: 0;
        margin-bottom: $spacer * 0.5;
    }

    .page-subtitle {
        color: $black;
        line-height: 18px;
        font-weight: normal;
        font-size: px2rem(14);
    }

    @include media-breakpoint-up(md) {
        // Side nav shown
        .layout-content {
            margin-left: $main-menu-width;
            transition: margin-left $menu-collapse-time;
        }

        // Side nav hidden
        &.menu-sub-hidden.main-hidden.sub-hidden {
            .layout-content {
                margin-left: 0;
            }
        }

        .permaurl {
            margin-bottom: 0;
        }

        .page {
            max-width: $page-max-width;
            padding-top: $main-margin;
            margin-left: auto;
            margin-right: auto;
        }

        .page-header {
            flex-direction: row;
            .header-left {
                flex-grow: 1;
            }
            .header-right {
                align-self: flex-end;
            }
        }
    }
}
