.alertbox {
    text-align: center;

    // Reset bs style
    .modal-dialog {
        width: 320px !important;
        height: 154px !important;
    }

    // Reset bs style
    .modal-body {
        padding: 1rem;
    }

    .alrt__content {
        padding: 10px;
    }

    .alrt__close {
        position: absolute;
        top: 5px;
        right: 5px;
    }

    .alrt__title {
        color: $black;
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 0;
    }

    .alrt__msg {
        margin-top: 15px;
        color: #666666;
        font-size: 13px;
    }

    .alrt__act {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
    }

    .alrt__ok,
    .alrt__cancl {
        width: 130px;
        height: 40px;
        padding: 0;
    }
}
