.page-landing-pages {
    .page-title {
        font-size: px2rem(30);
        line-height: px2rem(34);
    }
    .page-subtitle {
        margin-top: 10px;
    }
    .btn-create-split {
        margin-right: 10px;
    }
    .page-list {
        margin-bottom: 20px;
        .date-title {
            font-size: px2rem(12);
            line-height: px2rem(14);
            font-weight: 600;
        }
    }
    .PageCard {
        display: flex;
        padding: 20px;
        @include media-breakpoint-up(sm) {
            padding-left: 0px;
        }
        .item-body {
            flex-basis: 100%;
            .icon-container {
                margin-top: 5px;
                width: 54px;
                text-align: center;
                min-width: 54px;
            }
            .text-content {
                .item-title {
                    font-size: px2rem(13);
                    line-height: px2rem(18);
                    font-weight: 600;
                }
                .item-subtitle {
                    font-size: px2rem(11);
                    line-height: px2rem(14);
                    text-transform: capitalize;
                }
            }
            .page-status {
                font-size: px2rem(11);
                line-height: px2rem(13);
                padding: 4px 12px;
                border-radius: 100px;
                color: $gray-620;
                text-transform: capitalize;
                width: fit-content;
                margin-top: 10px;
                @include media-breakpoint-up(sm) {
                    margin-left: auto;
                    margin-right: auto;
                }
                &.inactive {
                    background-color: #FFF0C5;
                }
                &.draft {
                    background-color: #DFE3E8;
                }
                &.active {
                    background-color: #DFF0D8;
                }
            }
            .number-value {
                font-size: px2rem(14);
                line-height: px2rem(18);
                margin-top: 4px;
                @include media-breakpoint-down(sm) {
                    margin-top: 15px;
                }
            }
            .number-title {
                font-size: px2rem(11);
                line-height: px2rem(18);
            }
        }
        .card-edit-btn:before {
            width: 40px;
            height: 40px;
        }
        .dropdown-toggle {
            line-height: 28px;
            width: 50px;
            text-align: right;
        }
    }
}
.page-select-template {
    .template-container {
        margin-bottom: 30px;
        img {
            width: 100%;
        }
        .title {
            margin-top: 18px;
            font-size: px2rem(16);
            line-height: px2rem(24);
            font-weight: bold;
            text-align: center;
        }
        .description {
            font-size: px2rem(13);
            line-height: px2rem(21);
            text-align: center;
            margin-bottom: 0;
        }
    }
}
.edit-landing-page {
    padding: 0;
    .page-header {
        height: 60px;
        background-color: black;
        display: flex;
        color: white;
        .btn-back {
            margin: 20px;
            color: white;
            svg {
                width: 13px;
                height: 20px
            }
        }
        .title-container {
            font-size: px2rem(14);
            line-height: 60px;
            margin-left: auto;
            margin-right: auto;
        }
    }
    .page-body {
        background-color: #F2F2F2;
        display: flex;
        .left-col {
            width: calc(100% - 320px);
        }
        .right-col {
            width: 320px;
            z-index: 2;
        }
        .customize-panel {
            width: 100%;
            padding: 30px 20px;
            background-color: white;
            box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.39);
            font-size: px2rem(14);
            .viz-toggle {
                .toggle-label {
                    font-size: px2rem(12);
                    line-height: px2rem(18);
                    margin-left: 10px;
                }
            }
            .url-form {
                font-size: px2rem(14);
            }
            .title {
                margin-bottom: 20px;
            }
            .form-control {
                line-height: 1.2;
            }
            .thumb-upload {
                margin-bottom: 15px;
                h6 {
                    font-size: px2rem(14);
                    line-height: px2rem(24);
                    margin-bottom: 5px;
                }
                .logo-container {
                    height: 110px;
                    width: 110px;
                    min-width: 110px;
                    border: 1px dashed $gray-330;
                    border-radius: 4px;
                    background-color: white;
                    position: relative;
                    &.has-image {
                        background: linear-gradient(180deg, rgba(255, 255, 255, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%);
                    }
                    .logo {
                        width: 100%;
                        text-align: center;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        img {
                            width: 100%;
                        }
                        .lb-add-image {
                            font-size: px2rem(13);
                            line-height: px2rem(14);
                            margin-top: 8px;
                            margin-bottom: 0;
                        }
                    }
                    .btn-camera {
                        position: absolute;
                        right: 5px;
                        bottom: 5px;
                    }
                }
                .text-container {
                    flex-basis: 100%;
                    margin-left: 14px;
                    position: relative;
                    .logo-text {
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        h6 {
                            font-size: px2rem(14);
                            line-height: px2rem(18);
                            font-weight: bold;
                        }
                        a {
                            font-size: px2rem(14);
                            line-height: px2rem(24);
                        }
                    }
                }
            }
            .actions {
                margin: 30px -20px 0px;
                border-top: 1px solid $gray-330;
                padding: 20px 20px 0px;
                // display: flex;
                .btn-publish {
                    margin-left: auto;
                    padding: 16px 30px;
                }
                .btn-preview {
                    width: 100%;
                    margin-bottom: 10px;
                    display: none;
                    @include media-breakpoint-down(sm) {
                        display: block;
                    }
                }
            }
        }
        .color-picker-container {
            position: relative;
            .current-color {
                position: absolute;
                width: 26px;
                height: 26px;
                margin: 8px;
                z-index: 9;
                &.nocolor {
                    border:1px solid #8A8197;

                    &:after{
                        content: "";
                        position: absolute;
                        border-top: 3px solid red;
                        width: 34px;
                        transform: rotate(135deg);
                        left: -5px;
                        top: 10px;
                    }
                }
            }
            .txt-color-value {
                padding-left: 40px;
            }
            .vc-chrome {
                position: absolute;
                z-index: 9;
            }
            &.right-align {
                .vc-chrome {
                    right: 0;
                }
            }
        }
        .BasicSelect {
            .vs__dropdown-option {
                padding: 0px 12px !important;
            }
            .promote-container {
                display: flex;
                padding: 15px 10px;
                border-bottom: 1px solid $gray-320;
                .image-container {
                    width: 60px;
                    height: 60px;
                    img {
                        height: 100%;
                    }
                }
                .promote-text {
                    margin: 10px 0px 0px 15px;
                    .promote-title {
                        font-size: px2rem(13);
                        line-height: px2rem(18);
                        font-weight: 600;
                        margin-bottom: 5px;
                    }
                    .promote-type {
                        font-size: px2rem(11);
                        line-height:px2rem(14);
                        text-transform: capitalize
                    }
                }
            }
        }
        .price-input-group {
            .input-group-text {
                background-color: white;
                color: #9D9D9D;
                font-weight: bold;
            }
            .form-control {
                border-left: 0;
            }
        }
        @include media-breakpoint-down(sm) {
            .left-col {
                display: none;
            }
            .right-col {
                width: 100%;
            }
        }
    }
}
.page-edit-split,
.page-add-variations {
    .page-header {
        .edit-email-container {
            input {
                max-width: 400px;
                margin-bottom: 12px;
            }
            .btn-save {
                margin-right: 20px;
            }
        }
    }
    .page-body {
        .top-desc {
            margin-bottom: 20px;
            .title {
                font-size: px2rem(18);
                line-height: px2rem(20);
                font-weight: bold;
            }
            .description {
                font-size: px2rem(14);
                line-height: px2rem(24);
                margin-bottom: 0;
            }
        }
    }
}
.page-add-variations {
    .selected-control,
    .variation-list {
        margin-bottom: 20px;
        .title {
            font-size: px2rem(12);
            line-height: px2rem(14);
            font-weight: 600;
        }
    }
    .copy-choose-container {
        border: 1px dashed $gray-410;
        border-radius: 4px;
        padding: 38px 40px;
        text-align: center;
        margin-bottom: 30px;
        .text {
            font-size: px2rem(16);
            line-height: px2rem(20);
            color: $gray-530;
        }
    }
    .page-footer {
        margin-top: 30px;
        padding-top: 20px;
        border-top: 1px solid $gray-330;
        .btn-draft {
            margin-right: 10px;
        }
    }
}
.page-result-split-test {
    .page-header {
        padding-bottom: 20px;
        border-bottom: 1px solid $gray-330;
        .viz-toggle {
            .toggle-label {
                font-size: px2rem(12);
                margin-right: 10px;
            }
        }
    }
}

.landing-preview-email {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: auto;
    &.collect {
        background-color: white;
        .landing-content {
            .select-view-type {
                .view-type {
                    z-index: 10;
                }
            }
            .landing-container {
                .landing-header {
                    margin: -70px auto 45px;
                    padding: 0;
                    position: relative;
                    min-height: 200px;
                    background: linear-gradient(135deg, #39C8D6 0%, #D59C75 62.93%, #39C8D6 100%);
                    > img {
                        width: 100%;
                    }
                    .landing-logo {
                        position: absolute;
                        top: 50%;
                        left: 55px;
                        
                    }
                }
            }
            &.mobile {
                .landing-frame {
                    padding: 0;
                    .landing-container {
                        .landing-header {
                            margin-top: 0px;
                            padding: 0;
                            min-height: 75px;
                            .landing-logo {
                                transform: translateY(-50%);
                                left: 30px;
                            }
                        }
                    }
                }
            }
        }
    }
    .landing-content {
        &.desktop {
            height: 100vh;
        }
        .select-view-type {
            display: flex;
            justify-content: center;
            margin: 0px auto;
            padding: 20px 0;
            .view-type {
                font-size: px2rem(11);
                line-height: 29px;
                width: 75px;
                height: 30px;
                background-color: white;
                color: black;
                text-decoration: none;
                text-align: center;
                &.left {
                    border-radius: 30px 4px 4px 30px;
                }
                &.right {
                    border-radius: 4px 30px 30px 4px;
                }
                &.active {
                    border: 1px solid $color-pink-1;
                    background: rgba(220,46,166,0.2);
                    font-weight: 600;
                }
            }
        }
        .landing-container {
            width: 940px;
            margin-left: auto;
            margin-right: auto;
            .landing-header {
                padding: 40px 0px 30px;
                .landing-logo {
                    width: 160px;
                    height: 40px;
                    max-height: 50px;
                    max-width: 160px;
                    margin: auto;
                    img {
                        height: 100%;
                    }
                }
            }
            .landing-body {
                background-color: white;
                .artwork-container {
                    img {
                        width: 100%;
                    }
                }
                .text-content {
                    padding: 30px;
                    .title {
                        font-size: px2rem(28);
                        line-height: px2rem(30);
                        font-weight: bold;
                        margin-bottom: 15px;
                    }
                    .price-title {
                        font-size: px2rem(24);
                        line-height: px2rem(30);
                        margin-bottom: 15px;
                    }
                    .description {
                        font-size: px2rem(14);
                        line-height: px2rem(24);
                        margin-bottom: 16px;
                    }
                    .btn-signup {
                        margin: 15px auto;
                    }
                }
            }
            .landing-footer {
                margin: 60px 0px 30px;
                border-top: 2px solid black;
                padding-top: 30px;
                text-align: center;
                .social-share-links {
                    a {
                        font-size: 34px;
                        color:black;
                        margin: 0 3px;
                        i {
                            vertical-align: middle;
                            &.custom-icon {
                                font-size: 18px;
                                background: black;
                                color: white;
                                padding: 6px 6px;
                                border-radius: 3px;
                            }
                        }
                    }
                }
            }
        }
        &.mobile {
            .phone-frame {
                width: 350px;
                border-radius: 29px;
                border: 3px solid black;
                background-color: white;
                margin-left: auto;
                margin-right: auto;
                padding: 32px 15px 30px;
            }
            .landing-frame {
                padding: 15px 5px;
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                .landing-container {
                    width: 100%;
                    max-width: 940px;
                    min-height: 100vh;
                    .landing-body {
                        .text-content {
                            padding: 30px;
                            &.desktop-mobile {
                                padding: 15px;
                            }
                            @include media-breakpoint-down(sm) {
                                padding: 15px;
                            }
                        }
                    }
                }
            }
        }
    }
}
.landing-preview-lead {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: auto;
    .landing-container {
        padding: 50px;
        height: 100vh;
        .landing-header {
            .landing-logo {
                max-width: 180px;
                max-height: 40px;
                img {
                    width: 100%;
                }
            }
        }
        .landing-body {
            position: relative;
            height: calc(100% - 150px);
            .real-body {
                position: absolute;
                width: 100%;
                top: 70%;
                transform: translateY(-50%);
            }
            .text-content {
                .title {
                    font-size: px2rem(46);
                    line-height: px2rem(46);
                    margin-bottom: 15px;
                    color: white;
                }
                .description {
                    font-size: px2rem(18);
                    line-height: px2rem(24);
                    margin-bottom: 20px;
                    color: white;
                }
                .email-form {
                    width: 80%;
                    margin-bottom: 30px;
                    @include media-breakpoint-down(md) {
                        width: 100%;
                    }
                    .col-form-label {
                        color: white;
                    }
                }
                .btn-signup {
                    color: white;
                }
            }
        }
    }
    @include media-breakpoint-down(sm) {
        height: calc(100vh - 100px);
        min-height: 600px;
        .landing-container {
            padding: 15px;
        }
    }
}
.PreviewLandingModal {
    .modal-dialog {
        max-width: 100% !important;
        .modal-content {
            padding-bottom: 0;
            .modal-body {
                padding: 0;
            }
        }
    }
}
