.page-messages {
    .page-title {
        font-size: px2rem(30);
        line-height: px2rem(34);
    }
    .page-subtitle {
        margin-top: 10px;
        .active-number {
            font-weight: 600;
            color: $color-pink-1;
        }
    }
    .message-list {
        margin-bottom: 20px;
        .date-title {
            font-size: px2rem(12);
            line-height: px2rem(14);
            font-weight: 600;
        }
    }
    .MessageCard {
        display: flex;
        padding: 20px;
        @include media-breakpoint-up(sm) {
            padding-left: 0px;
        }
        .item-body {
            flex-basis: 100%;
            .icon-container {
                margin-top: 5px;
                width: 54px;
                text-align: center;
                min-width: 54px;
            }
            .text-content {
                .item-title {
                    font-size: px2rem(13);
                    line-height: px2rem(18);
                    font-weight: 600;
                }
                .item-subtitle {
                    font-size: px2rem(11);
                    line-height: px2rem(14);
                    text-transform: capitalize;
                }
            }
            .message-status {
                font-size: px2rem(11);
                line-height: px2rem(13);
                padding: 4px 12px;
                border-radius: 100px;
                color: $gray-620;
                text-transform: capitalize;
                width: fit-content;
                margin-top: 10px;
                @include media-breakpoint-up(sm) {
                    margin-left: auto;
                    margin-right: auto;
                }
                &.scheduled {
                    background-color: #FFF0C5;
                }
                &.draft {
                    background-color: #DFE3E8;
                }
                &.sent {
                    background-color: #DFF0D8;
                }
            }
            .number-value {
                font-size: px2rem(14);
                line-height: px2rem(18);
                margin-top: 4px;
                @include media-breakpoint-down(sm) {
                    margin-top: 15px;
                }
            }
            .number-title {
                font-size: px2rem(11);
                line-height: px2rem(18);
            }
        }
        .card-edit-btn:before {
            width: 40px;
            height: 40px;
        }
        .dropdown-toggle {
            line-height: 28px;
            width: 50px;
            text-align: right;
        }
    }
}
.page-edit-message {
    .page-header {
        .btn-schedule {
            margin-right: 10px;
        }
    }
    .page-body {
        .EditMessageCard {
            padding: 0;
            .card-item {
                display: flex;
                padding: 15px 20px;
                border-bottom: 1px solid $gray-320;
                .left-col {
                    flex-basis: 100%;
                    .item-title {
                        font-size: px2rem(18);
                        line-height: px2rem(24);
                        font-weight: bold;
                        margin-bottom: 10px;
                    }
                    .item-subtitle {
                        font-size: px2rem(12);
                        line-height: px2rem(20);
                        &.placeholder-text {
                            font-style: italic;
                            color: $gray-520;
                        }
                    }
                }
            }
            .template-container {
                width: 255px;
                height: 280px;
                margin-top: 20px;
                margin-bottom: 40px;
                border: 1px solid $gray-420;
                border-radius: 4px;
                padding: 20px;
                .image-container {
                    position: relative;
                    width: 215px;
                    height: 215px;
                    margin-bottom: 10px;
                    img {
                        width: 100%;
                    }
                    .btn-visible {
                        position: absolute;
                        bottom: 10px;
                        right: 10px;
                    }
                }
                .test-link {
                    font-weight: bold;
                    font-size: px2rem(12);
                    line-height: px2rem(15);
                    
                }
            }
            .item-status {
                margin-right: 15px;
                color: $gray-420;
                width: 18px;
                height: 18px;
                &.completed {
                    color: $color-green-2;
                }
            }
        }
    }
    .page-footer {
        margin-top: 30px;
        padding-bottom: 50px;
        padding-top: 20px;
        border-top: 1px solid $gray-330;
        .link-save-later {
            line-height: 40px;
            color: black;
        }
        .btn-schedule {
            margin-right: 10px;
        }
    }
}