.page-login {
    .pwd-input {
        padding-right: 2.7rem;
    }

    .show-pwd-btn {
        position: absolute;
        top: 2 * $spacer;
        right: -20px;
        height: $input-height;
        display: flex;
        background: none;
        border: none;
        box-shadow: none;
    }
}
