.form-wiz {
    .fwz__cnt {
        color: $linkstream-70;
        font-size: px2rem(11);
        font-weight: bold;
        letter-spacing: 1px;
        text-transform: uppercase;
        margin-bottom: 1rem;
        font-weight: 600;
    }

    .fwz__topnav {
        margin-bottom: 20px;
    }

    .fwz__back {
        color: $linkstream-70;
        font-size: px2rem(11);
        font-weight: bold;
        letter-spacing: 2px;
        text-transform: uppercase;
        text-decoration: none;
        i {
            position: relative;
            top: 5px;
            left: 5px;
        }
    }

    .fwz__header {
        margin-bottom: 20px;
    }

    .fwz__title {
        color: $black;
        font-size: px2rem(30);
        font-weight: 800;
        line-height: 34px;
    }

    .fwz__subtitle {
        color: $black;
        line-height: 24px;
        font-weight: normal;
        font-size: px2rem(14);
    }

    .fwz__step {
        display: flex;
        flex-direction: column;
        form {
            max-width: 500px;
        }
        aside {
            margin-top: 20px;
        }
    }

    .fwz__pager {
        display: flex;
        flex-direction: column;
        flex-direction: column-reverse;
    }

    .fwz__submit,
    .fwz__prev {
        display: none;
    }

    .fwz__prev {
        color: $linkstream-70;
    }

    .fwz__submit {
        margin-bottom: 10px;
    }

    &.is-final-step {
        .fwz__submit,
        .fwz__prev {
            display: block;
        }

        .fwz__next {
            display: none;
        }

        .fwz__pager {
            border-top: 1px solid $linkstream-30;
            padding-top: 20px;
            margin-top: 29px;
        }
    }

    @include media-breakpoint-up(sm) {
        .fwz__pager {
            flex-direction: row;
            justify-content: space-between;
        }

        .fwz__submit {
            margin-bottom: 0;
        }
    }

    @include media-breakpoint-up(md) {
        .fwz__step {
            flex-direction: row;
            justify-content: space-between;
            form {
                flex-grow: 1;
            }
        }
    }
}
