.crd-lnk {
    padding: 0;

    &.--private {
        .crd-title,
        .crd-vis {
            color: $linkstream-40;
        }
    }

    .crd-load-mask {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(215, 215, 215, 0.2);
        z-index: 1;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        .ls-spinner {
            margin-top: 0 !important;
        }
    }

    /** View Mode */

    .crd-viewing {
        display: flex;
        align-items: center;
        padding: 15px;
    }

    .crd-art {
        margin: 0 10px;
        cursor: pointer;
    }

    .crd-img {
        width: 60px;
        height: 60px;
    }

    .crd-body {
        flex-grow: 1;
        cursor: pointer;
    }

    .crd-title {
        color: $linkstream-110;
        font-size: px2rem(12);
        font-weight: bold;
        letter-spacing: 0;
        line-height: 16px;
    }

    .crd-vis {
        font-size: px2rem(11);
        color: $black;
    }

    /** Edit Mode */

    .crd-editing {
        position: relative;
        padding: 20px;
    }

    .crd-edit-body {
        display: flex;
        flex-direction: column;
    }

    .crd-edit-form {
        .form-group:last-child {
            margin-bottom: 0;
        }
    }

    .crd-edit-close {
        position: absolute;
        position: absolute;
        top: 0;
        right: 0;
        padding: 20px;
    }

    .crd-edit-actions {
        display: flex;
        justify-content: space-between;
        border-top: 1px solid $linkstream-30;
        padding-top: 16px;
        margin-top: 16px;
        .actions-primary {
            .btn {
                margin-left: 10px;
            }
        }
    }

    .schedule-dt {
        display: flex;
        justify-content: center;
        margin-top: 15px;
        font-size: px2rem(11);
        .btn {
            font-size: px2rem(11);
            margin-left: 5px;
        }
    }

    .dropimg {
        margin-bottom: 10px;
    }

    .dropimg-add-lnk {
        display: block;
        margin-left: 10px;
        color: $black;
        font-size: px2rem(11);
    }

    .dropimg-u-i:before {
        background-image: url(~@/../public/static/ico/drop-image/cam-plus-sm.svg);
        width: 34px;
        height: 31px;
    }

    .dropimg-u-msg {
        font-size: px2rem(10);
    }

    .dropimg-u-dz,
    .dropimg-img {
        width: 65px;
        height: 65px;
    }

    .dropimg-p {
        flex-direction: row;
        align-items: center;
    }

    .dropimg-rm-btn {
        display: none;
    }

    .dropimg-rm-lnk {
        margin-left: 10px;
        align-self: center;
        color: $black;
        font-size: px2rem(11);
    }

    @include media-breakpoint-up(md) {
        /** View Mode */

        .crd-art {
            margin: 0 14px;
        }

        .crd-img {
            width: 68px;
            height: 68px;
        }

        .crd-title {
            font-size: px2rem(13);
        }

        /** Edit Mode */

        .crd-edit-body {
            flex-direction: row;
        }

        .crd-edit-form {
            flex-grow: 1;
            margin-left: 20px;
            margin-right: 80px;
        }

        .schedule-dt {
            justify-content: flex-end;
        }

        .dropimg {
            margin-bottom: 0;
        }

        .dropimg-add-lnk {
            display: none;
        }

        .dropimg-u-dz,
        .dropimg-img {
            width: 120px;
            height: 120px;
        }

        .dropimg-p {
            flex-direction: column;
            align-items: flex-start;
        }

        .dropimg-rm-lnk {
            margin-left: 0;
            align-self: flex-start;
        }

        .dropimg-u-msg {
            font-size: px2rem(12);
        }
    }
}
