.Card.LinkCard {
    padding: 0;

    &.--private {
        .Card-title,
        .Card-subtitle {
            color: $linkstream-40;
        }
    }

    .Card-v {
        display: flex;
        align-items: center;
        padding: 15px;
    }

    .Card-media {
        margin: 0 10px;
        cursor: pointer;
    }

    .Card-img {
        width: 60px;
        height: 60px;
    }

    .Card-body {
        flex-grow: 1;
        cursor: pointer;
    }

    .Card-title {
        color: $linkstream-110;
        font-size: px2rem(12);
        font-weight: bold;
        letter-spacing: 0;
        line-height: 16px;
    }

    .Card-subtitle {
        font-size: px2rem(11);
        color: $black;
    }

    .Card-e {
        position: relative;
        padding: 20px;
    }

    .Card-e-body {
        display: flex;
        flex-direction: column;
    }

    .Card-e-form {
        .form-group:last-child {
            margin-bottom: 0;
        }
    }

    .schedule-dt {
        display: flex;
        justify-content: center;
        margin-top: 15px;
        font-size: px2rem(11);
        .btn {
            font-size: px2rem(11);
            margin-left: 5px;
        }
    }

    .DropImage {
        margin-bottom: 10px;

        .DropImage-u-box,
        .DropImage-p-box {
            width: 65px;
            height: 65px;
        }

        .DropImage-u-add-btn {
            display: block;
            margin-left: 10px;
            color: $black;
            font-size: px2rem(11);
        }

        .DropImage-u-i:before {
            background-image: url(~@/../public/static/ico/drop-image/cam-plus-sm.svg);
            width: 34px;
            height: 31px;
        }

        .DropImage-u-msg {
            font-size: px2rem(10);
        }

        .DropImage-p {
            flex-direction: row;
            align-items: center;
        }

        .DropImage-p-remove-i {
            display: none;
        }

        .DropImage-p-remove-btn {
            margin-left: 10px;
            align-self: center;
            color: $black;
            font-size: px2rem(11);
        }
    }

    @include media-breakpoint-up(md) {
        .Card-media {
            margin: 0 14px;
        }

        .Card-img {
            width: 68px;
            height: 68px;
        }

        .Card-title {
            font-size: px2rem(13);
        }

        .Card-e-body {
            flex-direction: row;
        }

        .Card-e-form {
            flex-grow: 1;
            margin-left: 20px;
            margin-right: 80px;
        }

        .schedule-dt {
            justify-content: flex-end;
        }

        .DropImage {
            margin-bottom: 0;

            .DropImage-u-box,
            .DropImage-p-box {
                width: 120px;
                height: 120px;
            }

            .DropImage-p {
                flex-direction: column;
                align-items: flex-start;
            }

            .DropImage-p-remove-btn {
                margin-left: 0;
                align-self: flex-start;
            }

            .DropImage-u-msg {
                font-size: px2rem(12);
            }

            .DropImage-u-add-btn {
                display: none;
            }
        }
    }
}
