.vid-crd {
    @include border-radius(4px);
    position: relative;
    background-color: $white;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.22);
    margin: $spacer 0;
    padding: $spacer;

    .crd__flex {
        display: flex;
        align-items: center;
    }

    .crd__reorder {
        cursor: move;
        top: -15px;
        position: relative;
    }

    .crd__body {
        display: flex;
        flex-direction: column;
        padding-left: $spacer;
    }

    .crd__media {
        position: relative;
        margin-bottom: 0.6rem;
    }

    .crd__lock {
        position: absolute;
        background-image: url(~@/../public/static/img/lock-overlay-thumb.svg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .crd__lock,
    .crd__img {
        width: 190px;
        height: 107px;
    }

    .crd__title {
        color: $linkstream-110;
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 16px;
        margin: 0;
        max-width: 230px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .crd__priv {
        color: $black;
        font-size: 11px;
    }

    .crd__act {
        position: absolute;
        top: 5px;
        right: 5px;
        .btn-icon {
            padding: 0;
        }
    }

    .crd__hov {
        display: inline-block;
        visibility: hidden;
        opacity: 0;
        transition: opacity 1s;
    }

    &:hover {
        .crd__hov {
            visibility: visible;
            opacity: 1;
        }
    }

    @include media-breakpoint-up(sm) {
        .crd__reorder {
            align-items: center;
            top: auto;
        }

        .crd__body {
            flex-direction: row;
            padding-right: 0;
        }

        .crd__act {
            position: absolute;
            top: 15px;
            right: 0;
            .btn-icon {
                padding: 0.5rem;
            }
        }

        .crd__media {
            margin-bottom: 0;
        }

        .crd__lock,
        .crd__img {
            width: 123px;
            height: 69px;
        }

        .crd__info {
            align-self: center;
            padding-left: $spacer;
        }
    }
}
