.edc--video {
    max-width: 672px;
    @include border-radius(4px);
    background-color: $white;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.22);
    margin: $spacer 0;
    padding: $spacer;

    .edc-mode-view {
        display: flex;
        align-items: center;

        .edc-drag {
            cursor: move;
        }

        .edc-title {
            color: $linkstream-110;
            font-family: Montserrat;
            font-size: 14px;
            font-weight: bold;
            letter-spacing: 0;
            line-height: 16px;
            margin: 0;
            padding: $spacer 0 0 0;
        }

        .edc-body {
            display: flex;
            flex-grow: 1;
            flex-direction: column;
            padding: 0 $spacer;
        }

        .edc-media,
        .edc-media iframe {
            height: 106.59px;
            width: 190px;
        }

        .edc-edit {
            align-self: flex-start;
        }

        @include media-breakpoint-up(sm) {
            .edc-body {
                flex-direction: row;
            }

            .edc-media,
            .edc-media iframe {
                height: 69px;
                width: 122px;
            }

            .edc-title {
                align-self: center;
                padding: 0 0 0 $spacer;
            }

            .edc-edit {
                align-self: center;
            }
        }
    }

    .edc-mode-edit {
        position: relative;
        padding: $spacer;

        .edc-close {
            position: absolute;
            right: 5px;
            top: 5px;
        }

        .edc-footer {
            display: flex;
            justify-content: space-between;
            box-sizing: border-box;
            border-top: 1px solid $linkstream-30;
            padding-top: $spacer;
        }

        .edc-media {
            display: flex;
            margin-bottom: $spacer;
        }

        .edc-media img {
            height: 80px;
            width: 142px;
        }

        @include media-breakpoint-up(sm) {
            .edc-form {
                max-width: 400px;
            }

            .edc-media img {
                height: 130px;
                width: 231px;
            }

            .edc-footer {
                justify-content: flex-end;
                .btn {
                    margin: 0 0.45rem;
                }
            }
        }
    }
}
