.c-card.--video {
    display: flex;
    align-items: flex-start;

    .c-reorder-i {
        position: relative;
        top: 46px;
    }

    .c-body {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        margin-left: 15px;
        cursor: pointer;
    }

    .c-media {
        margin-bottom: 10px;
    }

    .c-lock {
        position: absolute;
        background-image: url(~@/../public/static/img/lock-overlay.svg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .c-lock,
    .c-img {
        width: 190px;
        height: 107px;
    }

    .c-title {
        color: $linkstream-110;
        font-size: px2rem(12);
        font-weight: bold;
        letter-spacing: 0;
        line-height: 16px;
    }

    .c-subtitle {
        font-size: px2rem(11);
        color: $black;
    }

    @include media-breakpoint-up(md) {
        align-items: center;

        .c-reorder-i {
            top: auto;
        }

        .c-body {
            flex-direction: row;
            align-items: center;
        }

        .c-media {
            margin: 0 15px 0 0;
        }

        .c-lock,
        .c-img {
            width: 123px;
            height: 69px;
        }

        .c-title {
            font-size: px2rem(13);
            line-height: 20px;
        }
    }
}
