.page-ua-link-add {
    .page-header {
        margin-bottom: 15px;
        align-items: flex-start;
    }

    .step-body {
        display: flex;
        flex-direction: column;
        .col-image {
            margin-top: 20px;
        }
    }

    @include media-breakpoint-up(md) {
        .step-body {
            flex-direction: row;
            .col-info {
                flex-grow: 1;
            }
            .col-image {
                margin-top: 0;
            }
        }
    }
}
