.page-ua-track-add {
    .step-body {
        > aside {
            margin-right: 30px;
        }
    }

    .step-licenses,
    .step-upload {
        .step-body {
            flex-direction: column;
        }
    }

    .crd-license {
        .crd-content {
            display: flex;
        }

        .crd-body {
            flex: 1;
        }

        .crd-title {
            font-weight: bold;
        }

        &.--editing {
            .crd-edit-btn {
                display: none;
            }
        }
    }

    .dropaud {
        margin-bottom: 20px;
    }

    .collabs-table {
        .t-row {
            display: flex;
            justify-content: space-between;
        }
        .t-col:nth-child(1) {
            width: 56%;
        }
        .t-col:nth-child(2),
        .t-col:nth-child(3) {
            width: 20%;
        }
        .user-profile {
            display: flex;
            align-items: center;
            color: $black;
            font-size: px2rem(13);
            font-weight: 600;
            letter-spacing: 0;
            border: 1px solid $input-border-color;
            height: 42.6px;
            padding-left: 7px;
            img {
                width: 32.25px;
                height: 32.25px;
                border-radius: 50%;
                margin-right: 5px;
            }
        }
    }
}
