.page-ua-track-add {
    .step-track-type {
        .step-body {
            justify-content: center;
        }
        .c-card {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0;
            padding: 30px 0;
            border-radius: 9px;
            &:first-child {
                margin-bottom: 15px;
            }
        }
        .c-card-title {
            color: $black;
            font-size: px2rem(18);
            font-weight: 800;
            letter-spacing: 0;
            line-height: 34px;
            text-align: center;
            margin-top: 13px;
        }
        .c-card-text {
            color: $black;
            font-size: px2rem(13);
            letter-spacing: 0.1px;
            line-height: 22px;
            text-align: center;
            margin-bottom: 30px;
        }
    }

    @include media-breakpoint-up(md) {
        .step-track-type {
            .c-card {
                padding: 60px 50px;
                &:first-child {
                    margin-right: 30px;
                    margin-bottom: 0;
                }
            }
        }
    }

    .step-side {
        margin-right: 30px;
    }

    .step-licenses,
    .step-files {
        .step-body {
            flex-direction: column;
        }
    }

    .c-card.--license {
        .c-card-content {
            display: flex;
        }

        .c-card-body {
            flex: 1;
        }

        .c-card-title {
            font-weight: bold;
        }

        &.--editing {
            .c-card-edit-btn {
                display: none;
            }
        }
    }

    .drop-audio,
    .drop-file {
        margin-bottom: 20px;
    }

    .collabs-table {
        .t-row {
            display: flex;
            justify-content: space-between;
        }
        .t-col:nth-child(1) {
            width: 56%;
        }
        .t-col:nth-child(2),
        .t-col:nth-child(3) {
            width: 20%;
        }
        .user-profile {
            display: flex;
            align-items: center;
            color: $black;
            font-size: px2rem(13);
            font-weight: 600;
            letter-spacing: 0;
            border: 1px solid $input-border-color;
            height: 42.6px;
            padding-left: 7px;
            img {
                width: 32.25px;
                height: 32.25px;
                border-radius: 50%;
                margin-right: 5px;
            }
        }
    }
}
