.page-ua-vids-add {
    .vid-wrap,
    .vid-wrap iframe {
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }

    @include media-breakpoint-up(sm) {
        .vid-wrap,
        .vid-wrap iframe {
            width: 330px;
            height: 186px;
        }
    }
}
