.page-ua-vids {
    @import '~@/assets/scss/partials/user-account/video-card';

    .preview-url {
        color: $black;
        font-size: 12px;
        font-weight: 600;
        line-height: 1rem;
        margin-right: 0.3rem;
        letter-spacing: 0.5px;
        .txtlight {
            color: $linkstream-4;
            font-size: 12px;
            font-weight: 600;
            letter-spacing: 0;
        }
    }

    .smooth-dnd-draggable-wrapper {
        overflow: visible !important;
    }
}
