.page-ua-vids {
    @import '~@/assets/scss/partials/user-account/video-card';

    .preview-url {
        color: $black;
        font-size: 12px;
        font-weight: 600;
        line-height: 1rem;
        margin-right: 0.5rem;
        letter-spacing: 0.5px;
    }

    .smooth-dnd-draggable-wrapper {
        overflow: visible !important;
    }
}
