.page-ua-vids-add {
    .form-wizard {
        .step-1 {
            max-width: 500px;
        }

        .step-2 {
            max-width: 400px;
        }

        .youtube-container {
            max-width: 100%;
            @include media-breakpoint-down(xs) {
                max-width: 100%;
            }
        }
    }
}
