.page-ua-vids {
    @import '~@/assets/scss/partials/video-card';

    .preview-url {
        color: $black;
        font-size: 12px;
        font-weight: 600;
        line-height: 1rem;
        margin-right: 0.5rem;
        letter-spacing: 0.5px;
    }

    .smooth-dnd-draggable-wrapper {
        overflow: visible !important;
    }

    .page__nav {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        .nav__left {
            flex-grow: 1;
            margin-bottom: 15px;
        }
    }

    @include media-breakpoint-up(sm) {
        .page__nav {
            flex-direction: row;
        }
    }
}
