.page-ua-vid-add {
    .yt-wrap {
        width: 202px;
        height: 113px;
        margin-bottom: 20px;
    }

    @include media-breakpoint-up(sm) {
        .yt-wrap {
            width: 330px;
            height: 186px;
        }
    }
}
