.page-licenses {
    @media screen and (max-width: 650px) {
        margin-bottom: 150px;
    }
    .page-title {
        margin-bottom: 20px;
    }

    .Card {
        display: flex;
    }

    .card-body {
        flex-grow: 1;
        align-self: center;
    }
}
