.page-sk-add {
    .page-header {
        .col-right {
            display: none;
        }
        .cancel-btn {
            margin-right: 10px;
        }
    }

    .page-body {
        display: flex;
        flex-direction: column;
        padding: 0 3px;
    }

    .card-title {
        font-size: px2rem(14);
        font-weight: bold;
        margin-bottom: 15px;
    }

    .viz-card {
        .toggle-label {
            font-size: px2rem(12);
            margin-right: 10px;
        }
        .fr {
            justify-content: space-between;
        }
    }

    .dollar-input {
        input {
            width: 100%;
        }
    }

    .DropImage {
        .drop-box {
            margin-right: 15px;
        }
    }

    @include media-breakpoint-up(md) {
        .page-header {
            .col-right {
                display: block;
            }
        }

        .DropImage {
            .upload-container {
                flex-direction: column;
            }
            .drop-box {
                margin: 0 0 5px 0;
            }
        }

        .page-body {
            flex-direction: row;
            .col-left {
                flex-basis: 70%;
                margin-right: 20px;
            }
            .col-right {
                flex-basis: 30%;
            }
        }

        .card-title {
            font-size: px2rem(18);
        }

        .LsDatePicker input,
        .LsTimePicker .vs__dropdown-toggle {
            font-size: px2rem(12);
        }
    }
}
