.page-vid-add {
    videos-footer {
        z-index: 0;
        margin-bottom: 100px;
        @media screen and (max-width: 650px) {
            margin-bottom: 150px;
        }
    }
    .video-wrapper {
        width: 202px;
        height: 113px;
        margin-bottom: 20px;
    }

    .fwz.is-step-1 {
        .form-group {
            margin-bottom: 0;
        }

        .fwz-pager {
            border-top: 0;
            padding-top: 0;
        }

        .fwz-prev-btn {
            display: none;
            margin-bottom: 100px;
            @media screen and (max-width: 650px) {
                margin-bottom: 150px;
            }
        }
    }

    @include media-breakpoint-up(sm) {
        .video-wrapper {
            width: 330px;
            height: 186px;
        }

        .fwz.is-step-1 {
            .form-group {
                margin-bottom: 0;
            }
        }
    }
    .visibility-group {
        z-index: 0;
    }
}
.videos-container {
    margin-bottom: 100px;
    @media screen and (max-width: 650px) {
        margin-bottom: 150px;
    }
}
