.art-player {
    position: fixed;
    bottom: 0;
    padding: 0;
    height: 64px;
    margin-left: -27px;
    @include media-breakpoint-down(sm) {
        left: 0;
        margin-left: 0;
        max-width: 100%
    }
    .player-progress {
        width: 100%;
        height: 4px;
        background-color: #771859;
        box-shadow: 0 -6px 10px 0 rgba(0, 0, 0, 0.04);
        cursor: pointer;
        .current-progress {
            height: 4px;
            background-color: #DC2EA6;
            box-shadow: 0 -6px 10px 0 rgba(0, 0, 0, 0.04);
        }
    }
    .player-container {
        display: flex;
        height: 60px;
        .img-thumb {
            width: 60px;
            height: 60px;
            img {
                height: 100%;
            }
        }
        .control-container {
            width: 100%;
            line-height: 60px;
            display: flex;
            background-color: rgba(0, 0, 0, 0.85);
            box-shadow: 0 -6px 10px 0 rgba(0, 0, 0, 0.04);
            .art-info {
                padding: 10px 15px;
                .title {
                    font-size: px2rem(13);
                    color: white;
                    font-weight: 500;
                    line-height: px2rem(24);
                }
                .art-user {
                    color: white;
                    font-size: px2rem(11);
                    line-height: px2rem(16);
                }
            }
            .center-control {
                position: absolute;
                transform: translateX(-50%);
                left: calc(50% - 30px);
                .btn-pause {
                    margin-left: 25px;
                    margin-right: 25px;
                }
                
            }
            .right-control {
                margin-left: auto;
                display: flex;
                .slider-volume {
                    min-width: 70px;
                    margin-top: 22px;
                    margin-right: 10px;
                    line-height: 1rem;
                }
                .actions-menu {
                    margin-right: 20px;
                    margin-left: 20px;
                }
                .btn-pause {
                    margin-right: 13px;
                }
            }
        }
    }
}