.SplitTestCard {
    display: flex;
    padding: 20px;
    @include media-breakpoint-up(sm) {
        padding-left: 0px;
    }
    .item-body {
        flex-basis: 100%;
        .icon-container {
            margin-top: 5px;
            width: 54px;
            text-align: center;
            min-width: 54px;
            .icon-char {
                width: 27px;
                height: 27px;
                border-radius: 50%;
                background-color: black;
                color: white;
                line-height: 27px;
                margin-left: 15px;
                font-weight: bold;
            }
        }
        .text-content {
            .item-title {
                font-size: px2rem(13);
                line-height: px2rem(18);
                font-weight: 600;
            }
            .item-subtitle {
                font-size: px2rem(11);
                line-height: px2rem(14);
                text-transform: capitalize;
            }
        }
        .page-status {
            font-size: px2rem(11);
            line-height: px2rem(13);
            padding: 4px 12px;
            border-radius: 100px;
            color: $gray-620;
            text-transform: capitalize;
            width: fit-content;
            margin-top: 10px;
            @include media-breakpoint-up(sm) {
                margin-left: auto;
                margin-right: auto;
            }
            &.published, &.live {
                background-color: #DFF0D8;
            }
            &.draft {
                background-color: #DFE3E8;
            }
        }
        .number-value {
            font-size: px2rem(14);
            line-height: px2rem(18);
            margin-top: 4px;
            @include media-breakpoint-down(sm) {
                margin-top: 15px;
            }
        }
        .number-title {
            font-size: px2rem(11);
            line-height: px2rem(18);
        }
    }
    .action-page {
        min-width: fit-content;
        .btn-use {
            border-width: 2px;
            padding: 10px 20px;
        }
    }
    .action-other {
        display: flex;
        .btn-copy {
            width: 50px;
            color: black;
            text-align: center;
        }
    }
    
}