.select-plan-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    min-height: 80px;
    background: linear-gradient(45deg, #a624d2 0%, #ce5353 47.8%, #ffb02d 100%);
    span {
        font-size: px2rem(14);
        font-weight: 600;
    }
    .btn-upgrade {
        background-color: transparent;
        color: white;
        border-width: 2px;
        margin-left: 20px;
    }
    line-height: 80px;
    text-align: center;
    color: white;
    @include media-breakpoint-down(xs) {
        span {
            font-size: px2rem(14);
            font-weight: 500;
        }
        .btn-upgrade {
            background-color: transparent;
            color: white;
            border-width: 2px;
            margin-left: 10px;
            padding: 10px;
        }
        line-height: 1.4;
    }
}
.push {
    height: 120px;
    margin-top: 30px;
}
