.page-coming-soon {
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 1) 70%,
        $linkstream-250 100%
    );

    .logo:before {
        background-image: url(~@/assets/img/logo/logo-no-text-sm.svg);
        background-size: 100%;
        width: 30px;
        height: 34px;
    }

    .page-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 20px;
    }

    .page-title {
        color: $white;
        font-size: px2rem(35);
        font-weight: 800;
        letter-spacing: 0;
        line-height: 42px;
    }

    .page-body {
        display: flex;
        flex-direction: column;
        padding: 50px 20px 63px;
    }

    img {
        width: 100%;
    }

    form {
        margin-bottom: 30px;
        .form-group {
            margin-bottom: 0;
        }
        input {
            &:not(.is-invalid) {
                border-color: $white;
            }
            &::placeholder {
                color: $linkstream-170;
            }
        }
        button {
            font-weight: bold;
            letter-spacing: 2px;
            margin: 30px 0 20px;
        }
    }

    .social-links {
        font-size: px2rem(22);
        a {
            &:nth-child(2) {
                margin: 0 18px;
            }
            &,
            &:active,
            &:visited,
            &:hover {
                color: $white;
            }
        }
    }

    .notify-text {
        color: $white;
        font-size: px2rem(13);
        letter-spacing: 0;
        line-height: 24px;
        padding: 20px 0 30px;
        margin-bottom: 0;
        br {
            display: none;
        }
    }

    .legal-text {
        color: $linkstream-140;
        font-size: px2rem(11);
        font-weight: 500;
        letter-spacing: 0;
        line-height: 18px;
        a {
            text-decoration: underline;
            &,
            &:active,
            &:visited,
            &:hover {
                color: $linkstream-140;
            }
        }
    }

    @include media-breakpoint-up(md) {
        height: 100%;
        background: linear-gradient(
            180deg,
            rgba(0, 0, 0, 1) 50%,
            $linkstream-250 100%
        );
        .logo:before {
            background-image: url(~@/assets/img/logo/logo-h-lg.png);
            width: 157px;
            height: 34px;
        }
        .page-header {
            padding: 23px 30px;
        }
        .page-title {
            font-size: px2rem(40);
        }
        .page-body {
            flex-direction: row;
            justify-content: center;
            padding: 100px 57px 63px;
            .left-col {
                margin-right: 10px;
            }
            .right-col {
                align-self: center;
            }
        }
        form {
            input {
                max-width: 400px;
            }
        }
        .notify-text {
            font-size: px2rem(14);
            br {
                display: block;
            }
        }
    }
}
